/* src/pages/GameLibrary.css */
.game-library {
  padding: 24px 40px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  // overflow: scroll;
  height: 400px;
}

.game-card {
  background: #222;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 328px;
  text-align: center;
}

.game-card img {
  max-width: 100%;
  border-radius: 10px;
}
