/* style.scss */
.game-list-module-container {
    width: 100vw;
    height: calc(100vh - 58px);
    padding: 24px 40px 12px 40px;
    overflow-y: scroll;
    
    h1 {
        text-align: center;
    }

    .game-title-box {
        display: flex;
        justify-content: center;
        column-gap: 20px;

        .game-label {
            font-size: 20px;
            color: #999;
            cursor: pointer;
        }

        .game-label-active {
            color: #FFF;
        }
    };

    .game-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 16px;

        /* GameCard.css */
        .game-card {
            position: relative;
            width: 140px;
            height: 210px;
            border-radius: var(--speed-dominant-border-radius);
            overflow: hidden; /* 用于隐藏按钮溢出部分 */

            .content-box {
                img {
                    width: 100%;
                    height: 210px;
                    object-fit: cover;
                    border-radius: 8px;
                }

                .game-card-content {
                    display: none;
                }
                .game-card-active-icon {
                    position: absolute;
                    width: 100%;
                    height: 210px;
                    left: 0;
                    top: 0;
                    z-index: 1;
                };

                .add-icon {
                    position: absolute;
                    width: 48px;
                    height: 48px;
                    top: 110px;
                    left: calc(50% - 40px);
                    z-index: 2;
                }
            }

            .content-box:hover .game-card-content {
                display: block;
            }
        }

        .card-text-box {
            text-align: center;
            color: #999;
        }
    }
}