.custom-message {
    width: 736px;
    height: 104px;
    background: #3e3e4a;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.50);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
  z-index: 1000;
    font-size: 16px;
  }
  
  .custom-message.success {
    border-left: 4px solid #52c41a;
  }
  
  .custom-message.warning {
    border-left: 4px solid #faad14;
  }
  
  .custom-message.error {
    border-left: 4px solid #ff4d4f;
  }
  