.real-name-minor-modal {
  .ant-modal-content {
    width: 32vw !important;
    background-color: #3e3e4a;
    padding: 1.2vw 2.4vh;
  }

  .ant-modal-header {
    color: #fff;
    background-color: #3e3e4a;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.2vw;
    opacity: 0.5;
    font-size: 1.2vw;
    color: #ffffff;
    position: absolute;
    top: 1.2vw;
    right: 1.6vw;
  }

  .ant-modal-title {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: 500 !important;
    color: #ffffff;
  }

  .real-sueccess-modal-content,
  .real-error-modal-content {
    width: 100%;
    text-align: center;
    padding-top: 3vh;

    & p {
      width: 28vw;
      font-size: 1.4vw;
      text-align: center;
      color: #fff;
      line-height: 3vh;
      margin-top: 3vh;
      word-break: break-all;
    }

    img {
      width: 4vw;
      height: 4vw;
    }

    .real-sueccess-btn {
      width: 12vw;
      height: 4.8vh;
      font-size: 1.5vw;
      font-weight: Regular;
      color: #ffffff;
      background: #f86c34;
      border-radius: 3.3vh;
      border: none;

      &:hover, &:active {
        color: #ffffff;
        background: #f86c34;
      }
    }
  }
}

.real-name-minor-modal-second {
  .ant-modal-content {
    height: 33vh !important;
  }

  .real-sueccess-modal-content,
  .real-error-modal-content {
    & .real-sueccess-btn {
      margin-top: 3.3vh !important;
    }
  }
}

.real-name-minor-modal-first {
  .ant-modal-content {
    height: 36vh !important;
  }

  .real-sueccess-modal-content,
  .real-error-modal-content {
    & .real-sueccess-btn {
      margin-top: 3.6vh !important;
    }
  }
}