.captcha-a {

  .verification-code {
    cursor: pointer;
    position: relative;
    top: 3px;
    left: 0px;
    font-size: 14px;
    font-family: Source Han Sans SC, Source Han Sans SC-Regular;
    font-weight: Regular;
    text-align: right;
    color: #f86c34;
  }
}
