.pay-module {
  .ant-modal-content {
    width: 67.6vw;
    height: 75vh;
    background-color: #3e3e4a;
    padding: 1.2vw 2.4vh;
  }

  .ant-modal-header {
    color: #fff;
    background-color: #3e3e4a;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.2vw;
    opacity: 0.5;
    font-size: 1.2vw;
    color: #ffffff;
    position: absolute;
    top: 1.2vw;
    right: 1.6vw;
  }

  .ant-modal-title {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: 500 !important;
    color: #ffffff;
  }
  
  .pay-loading-img {
    margin: 24vh 0 0 48%;
  }

  .pay-modal {
    position: relative;

    .headerAll {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: stretch;
      align-items: center;
      margin-bottom: 6vh;

      .title {
        font-size: 2vw;
        font-weight: Regular;
        text-align: center;
        color: #ffffff;
        line-height: 4.8vh;
        margin-bottom: 0.6vh;
      }

      .description {
        font-size: 1.4vw;
        font-weight: Regular;
        color: #999999;
        text-align: center;
        line-height: 3vh;
      }
    }

    /* Tabs container styles */
    .tabs-container {
      width: 100%;
      position: relative;

      /* Tabs styles */
      .tabs {
        display: flex;
        column-gap: 1vw;
        width: 60vw;
        margin: 0 auto;
        overflow: hidden;

        .tab {
          min-width: 14.25vw;
          height: 11.7vh;
          background: rgba(153, 153, 153, 0.1);
          border-radius: 0.5vw;
          display: flex;
          flex-wrap: wrap;
          padding: 1.6vh 0 1.6vh 1vw;
          cursor: pointer;
          position: relative;
          
          .discount {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 1vw;
            font-weight: Bold;
            color: #855706;
            background: linear-gradient(270deg,#ffe3b6, #d8ba90);
            border-radius: 0px 0.5vw 0px 0.5vw;
            padding: 0.24vh 0.4vw;
          }

          .term {
            width: 100%;
            height: fit-content;
            font-size: 1.2vw;
            font-weight: Bold;
            color: #ffffff;
          }

          .price {
            width: 100%;
            height: fit-content;
            line-height: 2.6vw;
            font-size: 1.2vw;
            // font-family: Roboto, Roboto-Bold;
            font-weight: Bold;
            color: #ffffff;
            margin: 0;
            padding: 0;
            position: relative;

            .price-text {
              font-size: 2vw;
              margin: 0 0.4vw;
              position: relative;
              top: 0.3vh;
            }

            .text {
              color: rgba(255,255,255,0.40);
              text-decoration:  line-through;
              margin-left: 0.4vw;
            }
          }

          .amount {
            width: 100%;
            font-size: 1vw;
            color: rgba(255,255,255,0.40);
            
            & .text {
              text-decoration:  line-through;
              margin-left: 0.8vw;
            }
          }
        }

        .active {
          background-color: #9D8461;
        }
      }

      /* Left and right arrow styles */
      .arrow {
        position: absolute;
        top: calc(5.85vh - 0.9vw);
        width: 1.8vw;
        height: 1.8vw;
        font-size: 1.2vw;
        color: #999;
        padding: 10px;
        cursor: pointer;
      }

      .left {
        left: 0;
      }

      .right {
        right: 0;
      }
      
      .left:active > .tabs .tab {
        transform: translateX(-100px);
      }

      .arrow.right::after {
        content: "";
        width: 0.8vw;
        height: 0.8vw;
        border-top: 0.2vw solid;
        border-right: 0.2vw solid;
        border-color: #ffffff;
        position: absolute;
        right: 0.5vw;
        top: 0.5vw;
        transform: rotate(45deg);
      }

      .disabled-arrow.right::after {
        border-color: #616169;
        cursor: no-drop;
      }

      .arrow.left::after {
        content: "";
        width: 0.8vw;
        height: 0.8vw;
        border-top: 0.2vw solid;
        border-right: 0.2vw solid;
        border-color: #ffffff;
        position: absolute;
        position: absolute;
        left: 0.5vw;
        top: 0.5vw;
        transform: rotate(-135deg); /* This is the main difference */
      }

      .disabled-arrow.left::after {
        border-color: #616169;
        cursor: no-drop;
      }
    }

    .content {
      width: 100%;
      height: 20vh;
      margin-top: 12vh;
      display: flex;
    }

    /* QR Code styles */
    .qrcode {
      width: 13vw;
      height: 13vw;
      display: inline-block;
      margin-left: 15px;
      background-color: #fff;
      position: relative;
      
      .QR-loading-mask {
        width: 13vw;
        height: 13vw;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        text-align: center;

        .qrcode-loading-img {
          width: 2.4vw;
          height: 2.4vw;
          margin: 0 auto;
          margin-top: 5.3vw;
        }
      }

      .qrcode canvas,
      img {
        width: 12vw;
        height: 12vw;
        display: block;
        margin: 0.5vw 0 0 0.5vw;
      }

      .pay-mask {
        width: 13vw;
        height: 13vw;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
        
        & .title {
          height: 1.75vw;
          font-size: 1.2vw;
          font-weight: bold;
          line-height: 1.75vw;
          margin-top: 3.6vw;
        }

        & .text {
          font-size: 1.0vw;
          padding-top: 1.6vw;
          margin: 0 auto;

          & span {
            color: #E16534;
            cursor: pointer;
          }
        }
      }
    }

    /* Carousel container */
    .carousel {
      width: 25.2vw;
      padding-left: 2vw;

      .carousel-title {
        font-size: 1.4vw;
        color: #999;
      }

      .carousel-price {
        height: 6.9vh;
        font-size: 4vw;
        font-weight: bold;
        color: #f86c34;
        line-height: 6.9vh;
        margin-top: 1.2vh;

        & span {
          font-size: 1.4vw;
          color: #fff;
        }
      }

      .carousel-agreement {
        font-size: 1vw;
        color: #999;
        margin-top: 1.2vh;

        & .txt {
          color: #F86C34;
          cursor: pointer;
        }
      }
    }

    .my-coupons {
      width: calc(100% - 40vw);
      height: 20vh;
      padding-left: 2vw;

      .title {
        font-size: 1.4vw;
        color: #999;
      }

      .coupons {
        width: 20vw;
        position: relative;

        .custom-input {
          width: 100%;
          height: 4.8vh;
          font-size: 1.2vw;
          color: #fff;
          border: 0.15vh solid #fff;
          border-radius: 0.75vh;
          padding: 0 1.6vw;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          margin-top: 1.2vh;

          .no-data {
            color: #999;
          }
          
          .triangles-bottom {
            width: 0;
            height: 0;
            border-left: 0.5vw solid transparent;
            border-right: 0.5vw solid transparent;
            border-bottom: 0.6vw solid white;
          }

          .triangles-top {
            width: 0;
            height: 0;
            border-left: 0.5vw solid transparent;
            border-right: 0.5vw solid transparent;
            border-top: 0.6vw solid white;
          }
        }
        
        .hit-custom-input {
          color: #f97d4c;
          border-color: #f97d4c;
        }

        .custom-down {
          width: 31.4vw;
          height: 27.6vh;
          overflow-y: scroll;
          background-color: #3e3e4a;
          padding: 1.6vw;
          border-radius: 0.75vh;
          box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.50); 
          overflow-y: scroll;
          position: absolute;
          top: 6vh;
          right: 0;

          &::-webkit-scrollbar {
            width: 0;
          }
          
          & .card {
            width: 100%;
            height: 12vh;
            background: #fff6f2;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: 0.8vw;
            display: flex;
            margin-bottom: 1.2vh;
            cursor: pointer;
            
            &:hover {
              border: 1px solid #f86c34;
            }

            & .icon-box {
              width: 7.2vw;
              height: 100%;
              font-size: 1.6vw; 
              color: #f86c34;
              background-color: #FFE5DA;
              text-align: center;
              line-height: 6.8vw;
              position: relative;

              & div {
                width: 0.9vw; /* 两倍半径 */
                height: 1.8vw; /* 半径 */
                position: absolute;
                background-color: #fff;
                top: calc(50% - 0.9vw);
              }

              & .left {
                border-radius: 0 0.9vw 0.9vw 0; /* 右侧圆角 */
                left: 0;
              }

              & .right {
                border-radius: 0.9vw 0 0 0.9vw; /* 右侧圆角 */
                right: 0;
              }
            }

            & .text-box {
              width: 17vw;
              padding-top: 0.9vh;
              margin-left: 0.8vw;

              & .title {
                color: #222;
                font-weight: bold;
                font-size: 1.4vw;
              }
              
              & .time-box {
                font-size: 1.2vw;
                color: #f86c34;
                margin-top: 1.8vh;
              }
            }

            & .custom-radio {
              width: 1.2vw;
              height: 1.2vw;
              border: 0.2vw solid #ccc;
              border-radius: 50%;
              margin: auto 0;
              cursor: pointer;
              display: flex;
              align-items: center;

              & .radio-after {
                width: 0.6vw;
                height: 0.6vw;
                border-radius: 50%;
                margin: 0 auto;
              }
            }

            & .active-custom-radio {
              border-color: #f97d4c;

              & .radio-after {
                background-color: #f97d4c;
              }
            }
          }
        }
      }
    }
  }
}
