.new-design {
    width: 42vw;
    height: 37vh;
    background: url('../../assets/images/home/active2@2x.png') no-repeat center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.new-design2 {
    width: 42vw;
    height: 37vh;
    background: url('../../assets/images/home/first1@2x.png') no-repeat center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    position: relative;
}

.pay-module-new .ant-modal-content {
    width: 92vw;
    height: 82vh;
    background-color: transparent !important;
    box-shadow: none;
    padding-top: 9vh;

    .close-icon {
        position: absolute;
        right: -1vw;
        top: -9vh;
        width: 2.8vw !important;
        height: 2.8vw;
        background-color: #333;
        border-radius: 2.8vw;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        img {
            width: 1.1vw;
            height: 1.1vw;
            filter: brightness(90%);
        }
    }

    .newMain {
        position: absolute;
        right: 9vw;
        top: 11.2vh;
        color: #fff;
        text-align: center;

        .highlight {
            width: 8.8vw;
            height: 2.5vw;
            color: #f86c34;
            background: #ffd665;
            border-radius: 2.5vw;
            font-size: 1.2vw;
            font-weight: Bold;
            vertical-align: text-bottom;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            & span {
                font-size: 1.8vw;
                margin: 0 0.2vw;
            }
        }

        .price {
            height: 7.5vh;
            font-size: 1.2vw;
            line-height: 7.5vh;
            margin-top: 1.8vh;

            .priceBigNew {
                font-size: 4.4vw;
                font-weight: Bold;
                color: #fff !important;
                margin: 0 0.2vw;
            }
        }

        .term {
            color: #fff;
            text-decoration:  line-through;
            opacity: 0.4;
            margin-top: 0.2vh;
        }
    }

    .main {
        display: flex;
        width: fit-content;
        margin: 0 auto;

        .carousel {
            width: fit-content;
            display: flex;
            align-items: flex-end;
        }
    }
}