.game-card-module {
  display: flex;
  column-gap: 1.6vw;

  & .game-card {
    height: auto;
    position: relative;
    
    & .background-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--speed-dominant-border-radius);
    }

    .exemption-box {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 11vw;
      font-size: 1.2vw;
      color: #fff;
      background-color: #1A1A22;
      border-bottom-right-radius: var(--speed-dominant-border-radius);
      line-height: 2.9vh;
      display: flex;

      .exemption {
        width: 4vw;
        height: 3vh;
        font-style: italic;
        font-weight: bold;
        background-color: #F86C34;
        text-align: center;
        border-top-left-radius: var(--speed-dominant-border-radius);
        border-bottom-right-radius: var(--speed-dominant-border-radius);
      }

      .time {
        width: 7vw;
        text-align: center;
        background-color: #1A1A22;
        border-bottom-right-radius: var(--speed-dominant-border-radius);
        // font-family: Source Han Sans SC, Source Han Sans SC-Regular !important;
        // font-weight: Regular;
        // font-size: 1.1vw;
      }
    }

    & .accelerate-immediately-card {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      display: none;

      & .mask-layer-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: calc(var(--speed-dominant-border-radius) - 0.5vw);
      }

      & .add-img,
      & .clear-img {
        position: absolute;
        top: 1.2vw;
        right: 1.2vw;
        z-index: 2;
        width: 1.8vw;
        height: 2.7vh;
        cursor: pointer;
      }
      & .select-img {
        position: absolute;
        top: 1.2vw;
        right: 3.8vw;
        z-index: 2;
        width: 1.8vw;
        height: 2.7vh;
        cursor: pointer;
      }

      & .accelerate-immediately-button {
        position: absolute;
        left: 0;
        bottom: 10%;
        z-index: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.4vw;

        & .accelerate-immediately-text {
          color: #F86C34;
          cursor: pointer;
        }

        & .accelerate-immediately-img {
          cursor: pointer;
        }
      }
    }

    & .background-img:hover + .accelerate-immediately-card,
    & .accelerate-immediately-card:hover {
      display: block;
      cursor: pointer;
    }

    & .accelerate-animate-card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      border-radius: var(--speed-dominant-border-radius);
      overflow-x: hidden;

      & .animate-text {
        width: 100%;
        height: 100%;
        color: rgba(255,255,255,0.60);
        font-size: 2.2vw;
        text-align: center;
        z-index: 3;
      }

      & .accelerate-animate {
        position: absolute;
        left: calc(-100% + 20px);
        width: calc(100% - 20px);
        height: 0.5vh;
        background: linear-gradient(to right, rgba(255, 69, 0, 0) 0%, rgba(255, 69, 0, 1) 50%, rgba(255, 69, 0, 0) 100%);
        border-radius: var(--speed-dominant-border-radius);
      }
      
      & .accelerate-animate-start {
        animation: moveRight 5s cubic-bezier(0.42, 0, 0.58, 1) normal 1;
      }

      @keyframes moveRight {
        0% {
          left: calc(-100% + 20px);
        }
        50% {
          left: 10px;
        }
        100% {
          left: calc(100% - 20px);
        }
      }
    }

    & .accelerating-card {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      cursor: pointer;

      & .accelerating-content-img,
      & .accelerating-content {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--speed-dominant-border-radius);
      }

      & .accelerating-content {
        text-align: center;

        & .instant-delay {
          width: 8.2vw;
          height: 4.2vh;
          font-size: 1.4vw;
          color: #ffffff;
          background: rgba(255, 255, 255, 0.10);
          text-align: center;
          line-height: 4.2vh;
          margin: 6vh 0 0 calc(50% - 4.1vw);
          border-radius: var(--speed-dominant-border-radius);
        }

        & .speed {
          font-size: 5vw;
          color: #ffffff;
          line-height: 8.8vh;
          margin-top: 1.8vh;

          span {
            font-size: var(--speed-dominant-font-size);
          }
        }

        & .enter-details {
          width: 100%;
          font-size: 1.6vw;
          color: #ffffff;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          column-gap: 0.8vw;

          & span {
            cursor: pointer;
          }

          & img {
            width: 1.2vw;
            height: 1.8vh;
            cursor: pointer;
          }
        }

        & .down-accelerate {
          background: #ffffff;
          display: flex;
          align-items: center;
          column-gap: 0.8vw;
          cursor: pointer;

          img {
            width: 1.8vw;
            height: 1.8vw;
            position: static;
            margin-left: 2.8vw
          }
        }
      };
      }
    
    & .game-card-name {
      & .card-name-zh {
        font-size: var(--speed-dominant-font-size);
        color: #999;
        text-align: center;
        line-height: 3.9vh;
        padding: 1.2vh 1vw 0 1vw;
        white-space: nowrap;    /* 禁止换行 */
        overflow: hidden;       /* 隐藏溢出内容 */
        text-overflow: ellipsis;/* 使用省略号表示溢出 */
      }

      & .card-name-en {
        height: 2vw;
        color: #555555;
        font-size: 1.4vw;
        text-align: center;
        line-height: 2vw;
        white-space: nowrap;    /* 禁止换行 */
        overflow: hidden;       /* 隐藏溢出内容 */
        text-overflow: ellipsis;/* 使用省略号表示溢出 */
      }
    }
  }
}
