.disover-version-mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 998;
}

.disover-version-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 56vw;
  height: 40vw;
  background-image: url(../../assets/images/common/update-bag.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;

  & .close-icon {
    position: absolute;
    right: 2.8vw;
    top: 2.2vw;
    width: 2.4vw;
    height: 2.4vw;
    cursor: pointer;
  }

  & .title-box {
    width: fit-content;
    display: flex;
    margin: 6vh auto 7.6vh 11.8vh;

    & .title {
      color: #ffffff;
      font-size: 2vw;
      font-family: Source Han Sans SC, Source Han Sans SC-700;
      font-weight: 700;
      color: #ffffff;
      line-height: 3.2vh;
    }

    & .version {
      display: flex;
      align-items: center;
      font-size: 1.2vw;
      font-weight: 400;
      color: rgba(255,255,255,0.50);
      background: rgba(255,255,255,0.06);
      border-radius: 0.4vw;
      padding: 0.3vw 0.8vw;
    }
  }

  /* 隐藏默认滚动条 */
  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 和 Edge */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari 和 Opera */
    }
  }

  & .log-box {
    height: 25.2vh;
    margin: 0 3.2vw 0 4.6vw;
    overflow-y: auto;
    
    & .log-text {
      max-width: 45vw;
      font-size: 1.4vw;
      font-weight: 400;
      color: rgba(255,255,255,0.50);
      display: flex;
      line-height: 3.6vh;
      column-gap: 0.8vw;
      word-break: break-all;
      white-space: pre-wrap; /* 保留空格和换行符，但允许文本换行 */
      
      & .dot-box {
        height: 3.2vh;
        display: flex;
        align-items: center;

        & .dot {
          width: 0.4vw;
          height: 0.4vw;
          border-radius: 50%;
          background-color: rgba(255,255,255,0.50);
          margin-top: 0.9vh;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 0.4vw;
      height: 12.8vh;
      background: rgba(255,255,255,0.20);
      border-radius: 10vw;
    }

    &::-webkit-scrollbar-thumb {
      width: 0.4vw;
      background: rgba(255,255,255,0.20);
      border-radius: 10vw;
    }
  }

  & .renewal {
    width: 16vw;
    height: 5.7vh;
    margin-top: 3vh;
    font-size: 1.4vw;
    background: #ff4900;
    border-radius: 7.5vh;
    margin-left: calc(50% - 8vw);

    &:hover {
      background-color: #FF7741 !important;
    }

    &:active {
      background-color: #ff4900 !important;
    }
  }
}