.game-card-module {
  display: flex;
  column-gap: 1.6vw;

  & .game-card {
    height: auto;
    position: relative;

    & .background-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--speed-dominant-border-radius);
    }

    & .background-img:hover + .accelerate-immediately-card {
      display: block;
      cursor: pointer;
    }

    & .accelerate-immediately-card:hover {
      display: block;
    }

    & .accelerate-immediately-card {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: none;

      & .mask-layer-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: calc(var(--speed-dominant-border-radius) - 0.5vw);
      }

      & .clear-game-img {
        position: absolute;
        top: 1.2vw;
        right: 1.2vw;
        z-index: 2;
        width: 1.8vw;
        height: 2.7vh;
        cursor: pointer;
      }

      & .accelerate-immediately-button {
        position: absolute;
        left: 0;
        bottom: 10%;
        z-index: 2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.8vw;

        & .accelerate-immediately-text {
          color: #F86C34;
          cursor: pointer;
        }

        & .accelerate-immediately-img {
          cursor: pointer;
        }
      }
    }

    & .accelerate-animate-card {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      border-radius: var(--speed-dominant-border-radius);

      & .animate-text {
        width: 100%;
        color: rgba(255,255,255,0.60);
        font-size: 2.2vw;
        text-align: center;
        z-index: 3;
      }

      & .accelerate-animate {
        position: absolute;
        left: 10px;
        width: 0%;
        height: 0.5vh;
        background-color: #F86C34;
        border-radius: var(--speed-dominant-border-radius);
      }
      
      & .accelerate-animate-start {
        animation: moveRight 5s cubic-bezier(0.42, 0, 0.58, 1) normal 1;
      }

      @keyframes moveRight {
        from {
          width: 0%;
        }
        to {
          width: calc(100% - 20px);
        }
      }
    }

    & .accelerating-card {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;

      & .accelerating-content-img,
      & .accelerating-content {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--speed-dominant-border-radius);
      }

      & .accelerating-content {
        text-align: center;

        & .instant-delay {
          width: 8.2vw;
          height: 4.2vh;
          font-size: 1.4vw;
          color: #ffffff;
          background: rgba(255, 255, 255, 0.10);
          text-align: center;
          line-height: 4.2vh;
          margin: 6vh 0 0 calc(50% - 4.1vw);
          border-radius: var(--speed-dominant-border-radius);
        }

        & .speed {
          font-size: 5vw;
          color: #ffffff;
          line-height: 8.8vh;
          margin-top: 1.8vh;

          span {
            font-size: var(--speed-dominant-font-size);
          }
        }

        & .enter-details {
          width: 100%;
          font-size: 1.6vw;
          color: #ffffff;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          column-gap: 0.8vw;

          & span {
            cursor: pointer;
          }

          & img {
            width: 1.2vw;
            height: 1.8vh;
            cursor: pointer;
          }
        }

        & .down-accelerate {
          background: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 0.8vw;
          cursor: pointer;

          img {
            width: 1.8vw;
            height: 2.7vh;
            position: static;
          }
        }
      };
      }

    & .game-card-text {
      font-size: var(--speed-dominant-font-size);
      color: #999;
      text-align: center;
      padding: 1.8vh 1vw 0 1vw;
      white-space: nowrap;    /* 禁止换行 */
      overflow: hidden;       /* 隐藏溢出内容 */
      text-overflow: ellipsis;/* 使用省略号表示溢出 */
    }
  }
}

.home-game-card-module {
  width: 92vw;
  height: auto;

  & .game-card {
    width: 25%;

    & .background-img {
      height: 49vh;
    }

    & .accelerate-immediately-card {
      height: 49vh;

      & .accelerate-immediately-button {
        & .accelerate-immediately-text {
          font-size: 2.2vw;
        }

        & .accelerate-immediately-img {
          width: 1.6vw;
          height: 1.6vw;
          margin-top: 0.6vh;
        }
      }
    }
    
    & .accelerate-animate-card {
      height: 49vh;

      & .animate-text {
        line-height: 49vh;
      }

      & .accelerate-animate {
        top: 48.5vh;
      }
    }

    & .game-card-text {
      padding: 1.8vh 1vw 2.4vh 1vw;
    }

    & .accelerating-content {
      & .enter-details {
        margin-top: 4.2vh;
      }

      & .down-accelerate {
        width: 15vw;
        height: 5.4vh;
        font-size: var(--speed-dominant-font-size);
        border-radius: 2.7vh;
        margin-left: calc(50% - 7.5vw);
        margin-top: 10vh;
      }
    }

    & .accelerating-card {
      height: 49vh;
    }
  }
  
  & .home-null-card {
    width: 25%;
    height: 49vh;
    color: #999;
    background: rgba(255, 255, 255, 0.1);
    border-radius: var(--speed-dominant-border-radius);
    font-size: var(--speed-dominant-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .null-content-card {
      img {
        width: 10vw;
        height: 15vh;
      }

      div {
        font-size: 1.8vw;
        margin-top: 3.3vh;
      }
    }
  }
}

.my-game-card-module {
  width: 100%;
  height: auto;

  & .game-card {
    width: 16%;

    & .background-img {
      height: 31vh;
    }

    & .accelerate-immediately-card {
      height: 31vh;

      & .accelerate-immediately-button {
        & .accelerate-immediately-text {
          font-size: 2.2vw;
        }

        & .accelerate-immediately-img {
          width: 1.6vw;
          height: 1.6vw;
          margin-top: 0.6vh;
        }
      }
    }
    
    & .accelerate-animate-card {
      height: 31vh;

      & .animate-text {
        line-height: 31vh;
      }

      & .accelerate-animate {
        top: 30.5vh;
      }
    }

    & .game-card-text {
      padding: 1.8vh 1vw 2.4vh 1vw;
    }

    & .accelerating-content {
      & .enter-details {
        margin-top: 12vh;
      }

      & .down-accelerate {
        width: 12vw;
        height: 4.8vh;
        font-size: 1.6vw;
        border-radius: 2.4vh;
        margin-left: calc(50% - 6vw);
        margin-top: 10vh;
      }
    }

    & .accelerating-card {
      height: 31vh;
    }
  }
}