.app-close-module {
  .ant-modal-content {
    height: 32vh;
    background-color: #3e3e4a;
    padding: 1.2vw 2.4vh;
  }

  .ant-modal-header {
    color: #fff;
    background-color: #3e3e4a;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.2vw;
    opacity: 0.5;
    font-size: 1.2vw;
    color: #ffffff;
    position: absolute;
    top: 1.2vw;
    right: 1.6vw;
  }

  .ant-modal-title {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: 500 !important;
    color: #ffffff;
  }

  .app-close-module-content {
    font-size: 1.4vw;
    color: #fff;
    text-align: center;
    padding-top: 5vh;

    .content-radio-group {
      width: 100%;
    }

    .content-confirm {
      width: 9vw;
      height: 4.5vh;
      margin-top: 4.5vh;
      font-size: 1.4vw;
      background-color: #f86c34;
      border-radius: 2.25vh;

      &:active, &:hover {
        background-color: #f86c34;
      }
    }

    .content-no-tooltip {
      color: #fff;
      font-size: 1.4vw;
      margin-top: 3vh;
      line-height: 1.4vw;
      text-align: center;
    }

    & :where(.css-dev-only-do-not-override-usln0u).ant-radio-wrapper  {
      font-size: 1.4vw;
      color: #fff !important;
      margin-inline-end: 3.8vw !important;
    }
    
    .ant-radio-inner {
      background: transparent;
    }

    .ant-radio-checked .ant-radio-inner, 
    :where(.css-dev-only-do-not-override-usln0u).ant-checkbox-checked .ant-checkbox-inner {
      font-size: 1.4vw;
      background-color: #f86c34;
      border-color: #f86c34;
    }

    .ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #f86c34;
    }
  }
}