/* style.scss */
.home-module-detail {
  width: 100%;
  height: calc(100vh - 58px);
  position: relative;

  .back-icon {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: calc(100vh - 74px);
    object-fit: cover;
  }

  .mask-back-icon {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: calc(100vh - 60px);
    object-fit: cover;
  }

  .cantainer {
    width: 100%;
    padding: 24px 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;

    .back {
      width: 48px;
      height: 24px;
      font-size: 12px;
      border-radius: 4px;
      color: #fff;
      background-color: var(--speed-dominant-module-color);
      text-align: center;
      line-height: 24px;
    }

    .game-detail {
      width: 100%;
      height: calc(100vh - 236px);
      margin-top: 24px;
      display: flex;
      justify-content: space-between;

      .game-left {
        width: 262px;

        .game-text {
          height: 46px;
          font-size: 32px;
          font-weight: Bold;
          color: #ffffff;
          line-height: 46px;
          margin-top: 80px;
          display: flex;
          justify-content: center;
        }

        .game-btn {
          width: 160px;
          height: 44px;
          border-radius: 22px;
          border: none;
          margin-top: 40px;
          margin-left: 38px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .on-game {
          color: #fff;
          background-color: #f86c34;

          .line {
            width: 0.5px;
            height: 20px;
            opacity: 0.4;
            border: 0.5px solid #ffffff;
            margin: 0 8px 0 14px;
          }

          img {
            width: 18px;
            height: 18px;
            margin-right: 4px;
          }
        }

        .down-game {
          color: #222;
          background-color: #fff;

          img {
            width: 18px;
            height: 18px;
            margin-right: 4px;
          }
        }
      }

      .game-right {
        width: 654px;

        .info-common-style {
          color: #fff;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: var(--speed-dominant-border-radius);
        }

        .info-switch {
          width: 100%;
          padding: 10px 16px;
          display: flex;
          justify-content: space-between;

          & span:last-child {
            color: #f86c34;
          }
        }

        .info-speed {
          padding: 16px 0;
          margin-top: 12px;
          display: flex;
          align-items: center;

          .keep {
            color: #999999;
            font-size: 14px;

            div {
              color: #fff;
              font-size: 50px;

              span {
                font-size: var(--speed-dominant-font-size);
              }
            }
          }

          .speed-common {
            width: calc(50% - 1px);
            text-align: center;
          }

          .speed-line {
            width: 1px;
            height: 54px;
            background: rgba(255, 255, 255, 0.1);
          }
        }

        .appliances {
          margin-top: 12px;
          padding: 16px 0;

          .title {
            width: 100%;
            color: #fff;
            font-size: 14px;
            padding-bottom: 20px;
            text-align: center;
          }

          .content-box {
            width: 100%;
            display: flex;
            justify-content: center;

            .icon-box {
              text-align: center;
              font-size: 14px;
              color: #999999;

              img {
                width: 32px;
                height: 32px;
              }
            }

            .line-box {
              color: #f86c34;
              text-align: center;
              font-size: 14px;

              .line {
                width: 180px;
                height: 2px;
                border-radius: 50%;
                background-color: #f86c34;
                opacity: 0.4;
                margin: 4px 10px 0 10px;
              }
            }
          }
        }

        .tendencies {
          width: 100%;
          margin-top: 12px;
          padding: 16px 0;

          .title {
            width: 100%;
            font-size: 14px;
            color: #fff;
            text-align: center;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
