/* style.scss */
.home-module-detail {
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;

    .back-icon {
        position: absolute;
        z-index: 2;
        width: 100vw;
        height: calc(100vh - 122px);
        object-fit: cover;
    }

    .mask-back-icon {
        position: absolute;
        z-index: 3;
        width: 100vw;
        height: calc(100vh - 100px);
        object-fit: cover;
    }

    .cantainer {
        width: 100%;
        padding: 24px 32px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 4;
        overflow-y: scroll;
    
        .back {
            width: 96px;
            height: 48px;
            font-size: 24px;
            border-radius: 8px;
            color: #FFF;
            text-align: center;
            line-height: 48px;
            background-color: rgba(255, 255, 255, 0.10);
        }

        .game-detail {
            width: 100%;
            height: calc(100vh - 236px);
            margin-top: 24px;
            display: flex;
            justify-content: space-between;

            .game-left {
                width: 30%;
                text-align: center;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }

                .game-btn {
                    width: 200px;
                    height: 52px;
                    font-size: 22px;
                    border-radius: 52px;
                    border: none;
                }

                .on-game {
                    color: #FFF;
                    background-color: #F86C34;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;

                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 4px;
                    }
                }

                .down-game {
                    color: #222;
                    background-color: #FFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    margin-top: 24px;

                    img {
                        width: 24px;
                        height: 24px;
                        margin-right: 4px;
                    }
                }
            }

            .game-right {
                width: 66%;

                .info-common-style {
                    color: #FFF;
                    background-color: rgba(0, 0, 0, 0.4);
                    border-radius: 20px;
                }

                .info-switch {
                    width: 100%;
                    padding: 24px 32px;
                    display: flex;
                    justify-content: space-between;

                    & span:last-child {
                        color: #F86C34;
                    }
                }
                
                .info-speed {
                    margin-top: 12px;
                    display: flex;
                    padding: 40px 0 32px 0;
                    align-items: center;

                    .keep {
                        color: #999999;
                        font-size: 22px;

                        div {
                            color: #FFF;
                            font-size: 50px;

                            span {
                                font-size: 18px
                            }
                        }
                    };

                    .speed-common {
                        width: calc(50% - 1px);
                        text-align: center;
                    }

                    .speed-line {
                        width: 2px;
                        height: 120px;
                        background: rgba(255, 255, 255, 0.10);
                    }
                }

                .appliances {
                    margin-top: 12px;

                    .title {
                        width: 100%;
                        color: #FFF;
                        font-size: 22px;
                        padding: 16px 0 20px 0;
                        text-align: center;
                    }

                    .content-box {
                        width: 100%;
                        padding-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        
                        .icon-box {
                            text-align: center;
                            font-size: 20px;
                            color: #999999;

                            img {
                                width: 48px;
                                height: 48px;
                            }
                        }

                        .line-box {
                            color: #F86C34;
                            text-align: center;
                            font-size: 20px;

                            .line {
                                width: 200px;
                                height: 2px;
                                border-radius: 50%;
                                background-color: #F86C34;
                                opacity: 0.4;
                                margin: 4px 10px 0 10px;
                            }
                        }
                    }
                }

                .tendencies {
                    width: 100%;
                    margin-top: 12px;

                    .title {
                        width: 100%;
                        color: #FFF;
                        font-size: 22px;
                        padding: 16px 0 20px 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

body{
    overflow: hidden;
}
