/* style.scss */
.home-module-detail {
  width: 100%;
  height: calc(100vh - 58px);
  position: relative;

  .back-icon {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: calc(100vh - 74px);
    object-fit: cover;
  }

  .mask-back-icon {
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: calc(100vh - 60px);
    object-fit: cover;
  }

  .cantainer {
    width: 100%;
    padding: 24px 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;

    .back {
      width: 48px;
      height: 24px;
      font-size: 12px;
      border-radius: 4px;
      color: #fff;
      background-color: var(--speed-dominant-module-color);
      text-align: center;
      line-height: 24px;
    }

    .game-detail {
      width: 100%;
      height: calc(100vh - 236px);
      margin-top: 24px;
      display: flex;
      justify-content: space-between;

      .game-left {
        width: 256px;
        text-align: center;

        .game-text {
          width: 160px;
          height: 46px;
          font-size: 32px;
          font-weight: Bold;
          text-align: left;
          color: #ffffff;
          line-height: 46px;
        }

        .info-switch {
            
        }

        .game-btn {
          width: 200px;
          height: 52px;
          font-size: 22px;
          border-radius: 52px;
          border: none;
        }

        .on-game {
          color: #fff;
          background-color: #f86c34;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;

          img {
            width: 24px;
            height: 24px;
            margin-right: 4px;
          }
        }

        .down-game {
          color: #222;
          background-color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          margin-top: 24px;

          img {
            width: 24px;
            height: 24px;
            margin-right: 4px;
          }
        }
      }

      .game-right {
        width: 66%;

        .info-common-style {
          color: #fff;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: var(--speed-dominant-border-radius);
        }

        .info-switch {
          width: 100%;
          padding: 24px 32px;
          display: flex;
          justify-content: space-between;

          & span:last-child {
            color: #f86c34;
          }
        }

        .info-speed {
          margin-top: 12px;
          display: flex;
          padding: 40px 0 32px 0;
          align-items: center;

          .keep {
            color: #999999;
            font-size: 22px;

            div {
              color: #fff;
              font-size: 50px;

              span {
                font-size: 18px;
              }
            }
          }

          .speed-common {
            width: calc(50% - 1px);
            text-align: center;
          }

          .speed-line {
            width: 2px;
            height: 120px;
            background: rgba(255, 255, 255, 0.1);
          }
        }

        .tendencies {
          width: 100%;
          margin-top: 12px;

          .title {
            width: 100%;
            color: #fff;
            font-size: 22px;
            padding: 16px 0 20px 0;
            text-align: center;
          }
        }
      }
    }
  }
}
