/* style.scss */

body {
    font-family: sans-serif;
}

.home-module {
    width: calc(100vw - 64px);
    height: calc(100vh - 204px);
    padding: 20px 0;

    .game-list {
        width: 100%;
        max-width: 1300px;
        display: flex;
        margin: 0 auto;
        column-gap: 12px;

        /* GameCard.css */
        .game-card {
            position: relative;
            width: calc(25% - 9px);
            height: 360px;
            border-radius: var(--speed-dominant-border-radius);
            overflow: hidden; /* 用于隐藏按钮溢出部分 */

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                border-radius: var(--speed-dominant-border-radius);
            }

            .card-text-box {
                text-align: center;
                color: #999;
            }

            .accelerate-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); /* 将按钮居中 */
                background-color: #fff;
                color: #000;
                padding: 10px;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                z-index: 2; /* 确保按钮位于浮动层之上 */
            }
        }
        
        .null-data-card {
            width: calc(25% - 9px);
            height: 300px;
            background: var(--speed-dominant-module-color);
            border-radius: var(--speed-dominant-border-radius);
            text-align: center;
            padding-top: 50px;
            color: #999;
            font-size: 26px;
        }
    }

    .functional-areas {
        width: 100%;
        max-width: 1300px;
        display: flex;
        margin: 0 auto;
        column-gap: 12px;

        .areas-list-box {
            width: calc(50% - 6px);
            height: 271px;
            background: var(--speed-dominant-module-color);
            border-radius: var(--speed-dominant-border-radius);
            justify-content: center;
            align-items: center;
            display: flex;
            column-gap: 20px;
        };

        .membership-recharge {
            
        }

        .may-games {

        }
    }
}