/* style.scss */
.home-module {
    width: 100vw;
    height: calc(100vh - 100px);
    padding: 20px 32px;

    .game-list {
        width: 100%;
        max-width: 1300px;
        display: flex;
        margin: 0 auto;
        column-gap: 12px;
        
        .null-data-card {
            width: 25%;
            height: 327px;
            color: #999;
            background: rgba(255, 255, 255, 0.10);
            border-radius:20px;
            font-size: 26px;
            position: relative;
            padding-top: 87px;
            text-align: center;
        }
    }

    .functional-areas {
        width: 100%;
        max-width: 1300px;
        display: flex;
        margin: 0 auto;
        column-gap: 16px;

        .areas-list-box {
            width: 50%;
            height: 136px;
            background: rgba(255, 255, 255, 0.10);
            border-radius: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            column-gap: 20px;
            font-size: 26px;
        };

        .membership-recharge {
            color: #FFBFA6;
        }

        .may-games {
            color: #FFF;
        }
    }
}

body{
    overflow: hidden;
}
