.app-module {
  width: 100vw;
  height: 100vh;

  .login-mask {
    width: 100vw;
    height: 100vh;
    position: absolute;
  };

  .app-header {
    height: 58px;
    padding: 0 32px;
    background-color: var(--speed-dominant-background-color);
    display: flex;
    margin:0px;
    position: relative;
    z-index: 9999;

    .header-icon {
      width: 148px;
      font-size: 40px;
      color: var(--speed-dominant-font-color);
    }

    .header-functional-areas {
      width: calc(100vw - 48px);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-list {
        display: flex;
        gap: 28px;

        .menu {
          height: 64px;
          font-size: 18px;
          color: #999;
          cursor: pointer;
        }

        .menu-active {
          color: #FFF;
        }
      };

      .search-input {
        width: 200px;
        height: 32px;
      }

      .personal-information {
        color: #FFF;
        font-size: 14px;
        display: flex;
        align-items: center;
        column-gap: 20px;

        img {
          cursor: pointer;
        }
      }

      .ant-tabs-tab {
        color: #999;
      }

      .ant-tabs-tab-btn {
        color: #FFF;
      }
    }
  }

  .content {
    background-color: var(--speed-dominant-background-color);
  }
}

.ant-dropdown .ant-dropdown-menu {
  background: #3E3E4A !important;
  border-radius: var(--speed-dominant-border-radius);
}

.ant-dropdown-menu-item {
  width: 128px;
  height: 32px;
}

.ant-dropdown-menu-item:hover {
  background: rgba(255,255,255,0.10) !important;
}

.ant-dropdown-menu-item .public-style {
  color: #fff !important;
}

.ant-dropdown-menu-item-divider {
  width: 108px !important;
  border-top: 0.5px solid rgba(255,255,255,0.10) !important; /* 你想要的横线颜色 */
  margin: 20px 0 14px 10px !important; /* 调整横线的上下间距 */
}

/* 隐藏浏览器自带滚动条 */
::-webkit-scrollbar {
  width: 12px; /* 设置滚动条宽度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: transparent; /* 设置滚动条轨道背景色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* 设置滚动条滑块背景色，这里设置为半透明的黑色 */
  border-radius: 6px; /* 设置滑块圆角 */
}

/* 滚动条滑块悬停状态 */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); /* 设置滚动条滑块悬停状态下的背景色 */
}