.app-module {
  width: 100vw;
  height: 100vh;

  .login-mask {
    width: 100vw;
    height: 100vh;
    position: absolute;
  };

  .header {
    height: 58px;
    padding: 0 32px;
    background-color: var(--speed-dominant-background-color);
    display: flex;

    .header-icon {
      width: 148px;
      font-size: 40px;
      color: var(--speed-dominant-font-color);
    }

    .header-functional-areas {
      width: calc(100vw - 48px);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-list {
        display: flex;
        gap: 28px;

        .menu {
          height: 64px;
          font-size: 18px;
          color: #999;
          cursor: pointer;
        }

        .menu-active {
          color: #FFF;
        }
      };

      .search-input {
        width: 200px;
        height: 32px;
      }

      .personal-information {
        color: #FFF;
        font-size: 14px;
      }

      .ant-tabs-tab {
        color: #999;
      }

      .ant-tabs-tab-btn {
        color: #FFF;
      }
    }
  }

  .content {
    background-color: var(--speed-dominant-background-color);
  }
}