.app-module {
  width: 100vw;
  height: 100vh;

  .login-mask {
    width: 100vw;
    height: 100vh;
    position: absolute;
  };

  .app-header {
    width: 100vw;
    height: 9vh;
    padding: 0 3.2vw;
    background-color: var(--speed-dominant-background-color);
    display: flex;
    align-items: flex-end;

    .header-icon {
      width: 4vw;
      height: 6vh;
      margin-right: 3.2vw;
    }

    .header-functional-areas {
      width: calc(100vw - 3.2vw);
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-list {
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 2.8vw;

        .menu {
          font-size: 1.8vw;
          color: #999;
          cursor: pointer;
        }

        .menu-active {
          color: #FFF;
          position: relative;

          &::after {
            content: "";
            display: inline-block;
            width: 2vw;
            height: 0.45vh;
            border-radius: 2px;
            background-color: #F86C34;
            position: absolute;
            bottom: 0;
            left: calc(50% - 1vw);
            z-index: 999
          }
        }
      };

      .personal-information {
        height: 6vh;
        color: #FFF;
        display: flex;
        align-items: center;
        column-gap: 2vw;

        .currency-exchange {
          width: 8vw;
          height: 3.6vh;
          font-size: 1.2vw;
          color: #f86c34;
          border: 0.5px solid #f86c34;
          border-radius: 1.8vh;
          text-align: center;
          line-height: 3.6vh;
          cursor: pointer;
        }

        .login-enroll-text {
          color: #999;
          font-size: 1.4vw;
          cursor: pointer;

          &:hover {
            color: #fff;
          }
        }

        .ant-avatar, img {
          width: 2vw;
          height: 2vw;
          cursor: pointer;
        }

        .minType, .closeType {
          filter: brightness(100%);
        }

        .minType:hover, .closeType:hover {
          filter: brightness(150%);
        }
      }

      .ant-tabs-tab {
        color: #999;
      }

      .ant-tabs-tab-btn {
        color: #FFF;
      }
    }
  }

  .content {
    height: 91vh;
    background-color: var(--speed-dominant-background-color);
  }
}

.ant-dropdown, :where(.css-dev-only-do-not-override-usln0u) .ant-dropdown {
  top: 9vh !important;
}

.ant-dropdown .ant-dropdown-menu {
  background: #3E3E4A !important;
  border-radius: var(--speed-dominant-border-radius);
}

.ant-dropdown-menu-item {
  width: 12.8vw;
  height: 4.8vh;
}

.ant-dropdown-menu-item:hover {
  background: rgba(255,255,255,0.10) !important;
}

.ant-dropdown-menu-item .public-style {
  font-size: 1.4vw;
  color: #fff !important;
}

.ant-dropdown-menu-item-divider {
  width: 10.8vw !important;
  border-top: 0.075vh solid rgba(255,255,255,0.10) !important; /* 你想要的横线颜色 */
  margin: 3vh 0 2.1vh 1vw !important; /* 调整横线的上下间距 */
}

/* 隐藏浏览器自带滚动条 */
::-webkit-scrollbar {
  width: 1.2vw; /* 设置滚动条宽度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: transparent; /* 设置滚动条轨道背景色 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* 设置滚动条滑块背景色，这里设置为半透明的黑色 */
  border-radius: 0.6vw; /* 设置滑块圆角 */
}

/* 滚动条滑块悬停状态 */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7); /* 设置滚动条滑块悬停状态下的背景色 */
}