:root {
  --speed-dominant-background-color: #1A1A22;
  --speed-dominant-module-color: rgba(255, 255, 255, 0.10);
  --speed-dominant-font-color: #F86C34;
  --speed-dominant-border-radius: 1vw;
  --speed-dominant-font-size: 1.8vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 6px;
    background-color: var(--speed-dominant-background-color);
  };

  ::-webkit-scrollbar-thumb {
    background-color: var(--speed-dominant-module-color);
    border-radius: 6px;
  };
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

