.swiper .slick-slide img {
    display: block;
    width: 100%;
    display: block;
    background-size: contain;
    height: 20vh;
}
.imgalt {
    display: block;
    width: 100%;
    display: block;
    background-size: contain;
    height: 20vh;
}