.custom-dropdown {
  .user-text {
    display: flex;
    align-items: center;
    column-gap: 8px;

    & span {
      cursor: pointer;
    }
  }
}

.ant-popover {
  inset: 62.9924px 128.002px auto auto !important;
}

.ant-popover .ant-popover-inner {
  width: 200px;
  height: 152px;
  background-color: #3E3E4A !important;
  padding: 0;
  border: none;
}

.dropdwon-conent {
  background: #3E3E4A;
  padding: 24px 12px 16px 12px;
  border-radius: var(--speed-dominant-border-radius);

  .avatar-box {
    width: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & div {
      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        color: #fff;
      }
    }

    & span {
      font-size: 14px;
      color: #f86c34;
      cursor: pointer;
    }
  }

  & button {
    width: 176px;
    height: 32px;
    background: #f86c34;
    border-radius: 16px;
    box-shadow: 0px 5px 7px 0px rgba(248,108,52,0.30); 
    margin: 21px 0 8px 0;
  }

  & p {
    width: 168px;
    height: 32px;
    opacity: 0.5;
    font-size: 12px;
    font-weight: Regular;
    text-align: center;
    color: #ffffff;
    line-height: 16px;
    margin: 0 auto;
  }
}