.region-node-selector {
  .ant-modal-content {
    width: 67.6vw;
    height: 75vh;
    background-color: #3e3e4a;
    padding: 1.2vw 2.4vh;
  }

  & .loading-spin {
    width: 100%;
    height: 65.7vh;
    line-height: 60vh;
    text-align: center;
  }

  .ant-modal-header {
    height: 2.4vh;
    color: #fff;
    background-color: #3e3e4a;
    font-weight: Regular !important;
    margin-bottom: 0;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.2vw;
    opacity: 0.5;
    font-size: 1.2vw;
    color: #ffffff;
    position: absolute;
    top: 1.2vw;
    right: 1.6vw;
  }

  .ant-modal-title {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: 500 !important;
    color: #ffffff;
  }

  .ant-tabs {
    width: 100%;
    height: 67.8vh;
  }

  .ant-tabs-ink-bar {
    width: 2vw !important;
    height: 0.3vh !important;
    background: #f86c34;
    border-radius: 0.2vw !important;
  }

  .ant-tabs-nav::before {
    border: none !important;
  }
  
  .ant-tabs-nav {
    margin-bottom: 0;
  }

  .ant-tabs-nav-wrap {
    height: 6vh;
  }

  .ant-tabs-nav-list {
    margin: 0 auto;
    column-gap: 20vw;
  }

  :where(.css-dev-only-do-not-override-usln0u).ant-tabs
    .ant-tabs-tab.ant-tabs-tab-active
    .ant-tabs-tab-btn {
    color: #fff !important;
  }

  .ant-tabs-tab,
  :where(.css-dev-only-do-not-override-usln0u).ant-tabs .ant-tabs-tab-btn:focus:not(:focus-visible),
  :where(.css-dev-only-do-not-override-usln0u).ant-tabs .ant-tabs-tab-remove:focus:not(:focus-visible),
  :where(.css-dev-only-do-not-override-usln0u).ant-tabs .ant-tabs-tab-btn:active, 
  :where(.css-dev-only-do-not-override-usln0u).ant-tabs .ant-tabs-tab-remove:active {
    font-size: 2vw;
    color: #999;
  }

  .ant-tabs-tab:hover,
  .ant-tabs-tab:active,
  .ant-tabs-tab-btn:hover,
  .ant-tabs-tab-btn:active {
    color: #fff;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 0.5vw solid transparent;
    border-right: 0.5vw solid transparent;
    border-top: 0.6vw solid white;
  }

  .triangle-disabeld {
    border-top-color: #999;
  }

  .content {
    height: 61.8vh;
    padding: 2.4vh 1.6vw 1.2vh 1.6vw;
    position: relative;

    .current-box {
      font-size: 1.4vw;
      color: #fff;
    }

    .region-buttons {
      margin-top: 6vh;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      column-gap: 1vw;
      row-gap: 0.9vh;

      .public-button {
        width: 11.3vw;
        height: 6vh;
        font-size: 1.4vw;
        color: #fff;
        background: #6b6b7d;
        border-radius: 0.5vw;
      }

      .select-button {
        background-color: #F86C34;
      }

      .region-button {
        border: none;
      }
    }

    .sub-btns{
      max-height: 22vh;
      display: flex;
      flex-wrap: wrap;
      gap: 1vw;
      background: rgba(107, 107, 125, 0.3);
      border-radius: 0.5vh;
      margin-top: 1vh;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0;
      }

      .region-button {
        width: 11.3vw;
        height: 6vh;
        font-size: 1.4vw;
        color: #fff;
        border: none;
        background: transparent;
        border-radius: 0.5vw;
      }

      .select-button {
        color: #F86C34;
      }
    }

    .start-button,
    .region-start-button {
      position: absolute;
      width: 18.5vw;
      height: 6.6vh;
      font-size: 1.4vw;
      color: #fff;
      background-color: #F86C34;
      border: none;
      border-radius: 3.3vh;
      bottom: 0;
      left: calc(50% - 9.25vw);

      &:hover, &:active {
        background-color: #F86C34;
      }
    }

    .not-have-region {
      position: absolute;
      opacity: 0.5;
      font-size: 1.2vw;
      font-weight: Regular;
      text-align: left;
      color: #ffffff;
      line-height: 2.4vh;
      bottom: 8.4vh;
      left: calc(50% - 3.5vw);
      cursor: pointer;
    }

    .current-settings {
      height: 3vh;
      font-size: 1.4vw;
      font-weight: Regular;
      text-align: left;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .node-select {
      display: flex;
      justify-content: space-between;
      column-gap: 2.4vw;

      & div span {
        font-size: 1.4vw;
        font-weight: Regular;
        text-align: left;
        color: #fff;
        line-height: 3vh;
        margin-right: 0.8vw;
      }

      .popup-node-select {
        width: 26vw !important;
      }

      .ant-select-fouces .ant-select-selector {
        outline-color: #999999 !important;
        border-color: #999999 !important;
      }

      .ant-select-selector {
        width: 12vw;
        height: 4.8vh;
        color: #fff;
        background: transparent;
        border-radius: 0.5vw;
        border-color: #999999 !important;
        outline-color: #999999 !important;
        border: none;
        outline: none;
      }
      
      .ant-select-single {
        height: 4.8vh;
      }

      .refresh-button {
        width: 7vw;
        height: 4.8vh;
        color: #fff;
        background: rgba(255,255,255,0.10);
        border-radius: 0.5vw;
        border: none;
        font-size: 1.4vw;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.4vw;

        img {
          width: 1.8vw;
          height: 1.8vw;
          margin-bottom: 0.2vw;
        }
      }
    }

    .node-select-disabled {
      & div span {
        color: #999999;
      }
    }

    .ant-table {
      background-color: #3e3e4a;
      margin-top: 3.6vh;

      .ant-table-thead > tr > th {
        height: 6vh;
        line-height: 6vh;
        font-size: 1.2vw;
        font-weight: Regular;
        color: #999999;
        background-color: #3e3e4a;
        border-bottom: none;
        padding: 0 1.2vw;
      }

      .ant-table-tbody > tr > td {
        font-size: 1.4vw;
        color: #fff;
        padding: 1.42vh 1.2vw;
        background-color: #3e3e4a;
        border-bottom: none;
        cursor: pointer;
      }

      .ant-table-body {
        padding-bottom: 16px !important; /* 确保滚动条不覆盖内容 */
      }

      .ant-table-body::after {
        content: none !important;
        display: none !important;
        visibility: hidden !important;
      }

      .ant-table-cell::before {
        content: normal;
        width: 0 !important;
      }

      .ant-table-tbody > tr.ant-table-row:hover > td {
        background-color: rgba(255,255,255,0.10);
      }

      .ant-table-tbody > tr.ant-table-row:hover > td:nth-child(1) {
        border-radius: 5px 0 0 5px;
      }

      .ant-table-tbody > tr.ant-table-row:hover > td:nth-child(4) {
        border-radius: 0 5px 5px 0;
      }

      .ant-table-tbody > tr.selected-node > td {
        background: rgba(248,108,52,0.20) !important;
        border-top: 1px solid #f86c34;
        border-bottom: 1px solid #f86c34;
        color: #fff;
      }

      .ant-table-tbody > tr.selected-node > td:nth-child(1) {
        border-left: 1px solid #f86c34;
        border-radius: 5px 0 0 5px;
      }

      .ant-table-tbody > tr.selected-node > td:nth-child(2) {
        border-right: 1px solid #f86c34;
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.ant-select-dropdown {
  width: 20vw;
  color: #fff !important;
  background: #4B4B59 !important; 
  
  & div {
    font-size: 1.4vw !important;
  }
}

.ant-select-arrow {
  font-size: 1.4vw !important;
}

.ant-select-item-option {
  color: #fff !important;
  background-color: #4B4B59 !important;
}

/* 修改选项在鼠标经过时的样式 */
.ant-select-item-option-active {
  background-color: #4B4B59 !important; /* 修改背景颜色 */
  color: #fff !important;            /* 修改文字颜色 */
}

/* 修改选中项的样式 */
.ant-select-item-option-selected {
  background-color: #4B4B59 !important; /* 修改背景颜色 */
  color: #fff !important;            /* 修改文字颜色 */
}

.ant-select-disabled .ant-select-selection-item,
.ant-select-disabled .ant-select-selection-search-input {
  cursor: default !important;
}

.up-triangle {
  border-bottom: 0.5vw solid #fff;
}

.down-triangle {
  border-top: 0.5vw solid #fff;
}

.up-triangle, .down-triangle {
  display: inline-block;
  width: 1vw;
  margin-left: 0.8vw;
  margin-bottom: 0.1vw;
  border-left: 0.5vw solid transparent;
  border-right: 0.5vw solid transparent;
}

/* 覆盖默认表头样式，去掉多余的边框 */
.ant-table th {
  border-bottom: none; /* 移除底部边框 */
}

.ant-table-cell-scrollbar {
  display: none; /* 隐藏表头的滚动条补丁 */
}
