.my-games-module {
  width: 100vw;
  height: 91vh;
  padding: 3.6vh 4vw 2.7vh 4vw;

  .back-box {
    display: flex;
    align-items: center;

    .back {
      width: 2vw;
      height: 2vw;
      color: #FFF;
      cursor: pointer;
    }

    .games {
      font-size: 2vw;
      color: #FFF;
      margin-left: 1.2vw;
    }
  }

  .game-list {
    width: 100%;
    height: 78vh;
    margin-top: 3.6vh;
    overflow-y: scroll;
  }
}