.my-games-module {
  width: 100vw;
  height: calc(100vh - 100px);
  padding: 24px 40px 18px 40px;

  .back-box {
    display: flex;
    align-items: center;

    .back {
      font-size: var(--speed-dominant-font-sizes);
      border-radius: 8px;
      color: #FFF;
      text-align: center;
      background-color: var(--speed-dominant-module-color);
      padding: 8px 10px;
    }

    .games {
      font-size: 24px;
      color: #FFF;
      margin-left: 24px;
    }
  }

  .game-list {
    width: 100%;
    height: calc(100vh - 144px);
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    overflow-y: scroll;
    column-gap: 12px;
    align-content: flex-start;
  }
}