.my-games-module {
  width: 100vw;
  height: 91vh;
  padding: 3.6vh 4vw 2.7vh 4vw;

  .back-box {
    display: flex;
    align-items: center;

    .back {
      font-size: 1.2vw;
      border-radius: 0.4vw;
      color: #FFF;
      text-align: center;
      background-color: var(--speed-dominant-module-color);
      padding: 0.9vh .8vw 0.9vh 0.45vw;
    }

    .games {
      font-size: 2vw;
      color: #FFF;
      margin-left: 1.2vw;
    }
  }

  .game-list {
    width: 100%;
    height: 78vh;
    margin-top: 3.6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    overflow-y: scroll;
    column-gap: 1.2vw;
    row-gap: 2.4vh;
    align-content: flex-start;
    overflow-y: scroll;
  }
}