/* style.scss */
.game-library-module-container {
  width: 100vw;
  height: 85vh;
  padding: 3.6vh 4vw;

  h1 {
    text-align: center;
  }

  .game-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2vw;

    .game-label {
      font-size: var(--speed-dominant-font-size);
      color: #999;
      cursor: pointer;
      padding: 0px 1.2vw;
    }

    .game-label-active {
      font-size: 2vw !important;
      color: #fff;
    }
  }

  .game-list {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 1.6vw;
    row-gap: 2.4vw;
    margin-top: 3vh;
    overflow-y: scroll;

    /* GameCard.css */
    .game-card {
      position: relative;
      width: 13.8vw;
      border-radius: var(--speed-dominant-border-radius);
      cursor: pointer;
      
      .content-box {
        img {
          width: 100%;
          height: 32vh;
          object-fit: cover;
          border-radius: var(--speed-dominant-border-radius);
        }

        .game-card-content {
          display: none;
        }

        .game-card-active-icon {
          position: absolute;
          width: 100%;
          height: 32vh;
          left: 0;
          top: 0;
          z-index: 1;
        }

        .add-icon {
          position: absolute;
          width: 4.8vw;
          height: 7.2vh;
          top: 12vh;
          left: calc(50% - 2.4vw);
          z-index: 2;
          cursor: pointer;
        }
      }

      .content-box:hover .game-card-content {
        display: block;
      }
    }

    .card-text-box {
      height: auto;
      text-align: center;

      .game-name {
        font-size: 1.6vw;
        color: #999;
        margin-top: 8px;
        white-space: nowrap;    /* 禁止换行 */
        overflow: hidden;       /* 隐藏溢出内容 */
        text-overflow: ellipsis;/* 使用省略号表示溢出 */
      }

      .game-name-en {
        color: #555555;
        font-size: 1.4vw;
        margin-top: 6px;
        white-space: nowrap;    /* 禁止换行 */
        overflow: hidden;       /* 隐藏溢出内容 */
        text-overflow: ellipsis;/* 使用省略号表示溢出 */
      }
    }
  }
}