.game-card-box-module {
  all: initial !important;
  width: 92vw;
  height: 49vh;
  // display: flex;
  // margin: 0 auto;
  // column-gap: 1.6vw;
  background-color: red;

  // & .game-card {
  //   width: 25% !important;

  //   .background-img {
  //     width: 25%;
  //   }
  // }
}
