.currency-exchange {
  .ant-modal-content {
    width: 45vw;
    height: 69vh !important;
    background-color: #fff;
    border-radius: 3.2vh;
    position: relative;
  }

  .ant-modal-header {
    background-color: transparent;
    z-index: 2;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.2vw;
    opacity: 0.5;
    font-size: 1.2vw;
    color: #ffffff;
    position: absolute;
    top: 1.2vw;
    right: 1.6vw;
  }

  .ant-modal-title {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: 500 !important;
    color: #ffffff;
  }

  .currency-banner {
    width: 45vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .currency-content {
    position: absolute;
    left: 0;
    top: 4.8vh;
    z-index: 3;
    width: 100%;
    height: 70.2vh;
    border-radius: 3.2vh;

    .currency-title {
      height: 3.9vh;
      font-size: 1.8vw;
      font-weight: Bold;
      text-align: center;
      color: #222222;
      line-height: 3.9vh;
    }

    .currency-input {
      width: 28vw;
      height: 6vh;
      border: 0.275vh solid rgba(248,108,52,0.50);
      border-radius: 3vh;
      font-size: 1.4vw;
      font-weight: bold;
      color: #222222;
      margin: 4.2vh 0 0 calc(50% - 14vw);
      text-align: center;

      &::placeholder {
        font-size: 1.4vw;
        font-weight: Regular;
        text-align: center;
        color: #999999;
      }
    }

    .currency-btn-box {
      width: 100%;
      margin-top: 5.4vh;
      text-align: center;
      position: relative;

      .exchange-error {
        width: 100%;
        position: absolute;
        top: -3.9vh;
        left: 0;
        font-size: 1.2vw;
        color: rgba(255,59,60,1);
        text-align: center;
      }

      .currency-btn {
        width: 17vw;
        height: 4.8vh;
        font-size: 1.2vw;
        color: #fff;
        background: #f86c34;
        border-radius: 2.4vh;
        border: none;
        outline: none;

        &:hover {
          background-color: #EF622A;
        }
      }

      .ant-btn-primary:disabled {
        background-color: rgba(248,108,52,0.2);
      }
    }

    .table {
      margin-top: 6vh;
      padding: 0 1.6vw;

      .code-columns-render,
      .record-columns-render {
        font-size: 1.2vw;
        color: #666;
      }
      
      .ant-table-cell {
        font-size: 1.2vw;
        color: #999;
        font-weight: 500;
        background-color: #fff;
        border: none;
        
        &::before {
          width: 0 !important;
        }
      }

      ::-webkit-scrollbar {
        width: 0.5vw;
      }

      ::-webkit-scrollbar-thumb {
        width: 0.5vw;
      }

      .ant-table-row .ant-table-cell {
        background: #f8f8f8;
        border-bottom: 0.2vh solid #fff;
        cursor: pointer;
      }

      .ant-table-row:hover .ant-table-cell {
        background-color: #fff6f2;
      }

      .ant-table-row:hover .code-columns-render {
        color: #222222;
      }

      // .ant-table-row:hover .record-columns-render {
      //   color: #f86c34;
      // }
    }

    .no-data-box {
      width: 100%;
      height: 30vh;

      img {
        width: 6.9vw;
        height: 6.75vw;
        margin-left: 19vw;
        margin-top: 8vh;
      }

      div {
        width: 100%;
        color: #999999;
        font-size: 1.2vw;
        text-align: center;
      }
    }
  }
}