.overlay {
  .ant-modal-content {
    width: 67.6vw;
    height: 75vh;
    background-color: #3e3e4a;
    padding: 1.2vw 2.4vh;
  }

  .ant-modal-header {
    color: #fff;
    background-color: #3e3e4a;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.2vw;
    right: 1.2vw;
    top: 1.8vh;
  }

  .ant-modal-title,
  .ant-modal-close-x {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: Regular;
    color: #ffffff;
  }

  .feedback-popup {
    width: 100%;

    .type-buttons {
      margin: 4.2vh 0.9vw;

      .matter-type {
        font-size: 1.4vw;
        font-weight: normal;
        text-align: left;
        color: #999999;
        line-height: 20px;

        span {
          color: #f86c34;
        }
      }
    }

    .matter-description {
      margin: 0 0.9vw;

      .matter-text {
        font-size: 1.4vw;
        font-weight: normal;
        text-align: left;
        color: #999999;
        line-height: 20px;

        span {
          color: #f86c34;
        }
      }
    }

    .type-btn {
      width: 8.4vw;
      height: 4.8vh;
      font-size: 1.2vw;
      font-weight: normal;
      color: #ffffff;
      background: rgba(255, 255, 255, 0.1);
      text-align: center;
      line-height: 4.8vh;
      border-radius: 0.75vh;
      border: 1px solid transparent;
      margin: 1.2vh 1vw 0 0;
      cursor: pointer;
      position: relative;

      &:nth-child(3) {
        width: 9.5vw;
      }

      &.selected {
        border-color: #f86c34;
        color: #f86c34;

        &::before {
          content: "\2713";
          display: inline-block;
          position: absolute;
          top: -0.45vh;
          right: 0.2vw;
          width: 1vw;
          height: 1.5vh;
          color: #fff;
          line-height: 3vh;
          text-align: center;
          z-index: 2;
        }

        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 0px;
          right: 0px;
          border-left: 1.2vw solid transparent;
          border-bottom: 1.2vw solid transparent;
          border-right: 1.2vw solid #f86c34;
          border-top: 1.2vw solid #f86c34;
        }
      }
    }

    .description-input-box {
      color: #fff;
      margin: 1.2vh 0;

      .description {
        width: 61vw;
        min-height: 13.2vh;
        font-size: 1.2vw;
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
        border: none;
        outline: none;
        border-radius: 0.75vh;
        padding: 1.2vh 1.2vw;
        resize: none;

        &::-webkit-scrollbar {
          width: 0px;
        }

        &::placeholder {
          font-weight: normal;
          font-size: 1.2vw;
          color: #999999;
          margin: 1.2vh 1.2vw;
        }
      }

      .description-input-num {
        width: 61vw;
        height: 3.6vh;
        font-size: 1.2vw;
        color: #999;
        background: transparent;
        padding-right: 1vw;
        position: relative;
        text-align: right;
        bottom: 3.6vh;
        border-bottom-left-radius: 0.75vh;
        border-bottom-right-radius: 0.75vh;
      }
    }

    .layui-upload {
      display: flex;

      .layui-elem-quote {
        width: 5vw;
        height: 7.5vh;
        margin-top: 1.2vh;
        border: none;
        background: red;
      }

      .fa-plus {
        width: 50px;
        height: 50px;
        font-size: 20px;
        color: #fff;
        background-color: #52525c;
        border: 0.5px dashed #fff;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
      }
    }

    .img-container {
      position: relative;
      margin-right: 10px;

      .fa-times-circle:before {
        content: "\00d7";
        position: absolute;
        width: 12px;
        height: 12px;
        font-size: 10px;
        top: -6px;
        right: -6px;
        text-align: center;
        line-height: 12px;
        background-color: #f86c34;
        border-radius: 50%;
        color: #fff;
      }
    }

    .image-upload {
      position: relative;

      .layui-elem-quote {
        width: auto;
        border: none;
        padding: 0;
        margin-left: 16px;
      }

      .layui-upload-list {
        display: flex;
        margin: 0;
      }
    }

    #file-input {
      display: none;

      + label {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30px;
        height: 30px;
        background-color: #ccc;
        cursor: pointer;
      }
    }

    .preview {
      margin-top: 10px;

      img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
        display: inline-block;
      }
    }

    .contact {
      font-size: 14px;
      color: #999;
      margin: 28px 9px;
      padding-left: 7px;

      .contact-input-box {
        display: flex;
        align-items: flex-end;
      }

      .contact-input {
        width: 368px;
        height: 16px;
        font-size: 12px;
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none;
        padding: 8px 4px 8px 12px;
        margin-top: 8px;

        &::placeholder {
          font-weight: normal;
          font-size: 12px;
        }
      }

      .contact-input-num {
        display: inline-block;
        width: 50px;
        height: 32px;
        background: rgba(255, 255, 255, 0.1);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        line-height: 32px;
      }
    }

    .submit-btn {
      display: block;
      width: 185px;
      height: 44px;
      color: #999;
      background-color: #52525c;
      border: none;
      outline: none;
      border-radius: 22px;
      text-align: center;
      line-height: 44px;
      cursor: pointer;
      margin: 0 auto;

      &:hover {
        color: #fff;
        background-color: #f86c34;
      }
    }

    .popup-success {
      width: 320px;
      height: 130px;
      font-size: 13px;
      color: #fff;
      background: #3e3e4a;
      border-radius: 10px;
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.5);
      padding: 10px 12px;
      text-align: center;
      position: fixed;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      img {
        margin-left: 308px;
      }

      .sucess-text {
        margin: 32px 0 28px 0;
      }

      .sucess-btn {
        width: 96px;
        height: 32px;
        font-size: 14px;
        color: #fff;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
