.overlay {
  .ant-modal-content {
    width: 67.6vw;
    height: 75vh;
    background-color: #3e3e4a;
    padding: 1.8vh 1.8vw;
  }

  .ant-modal-header {
    color: #fff;
    background-color: #3e3e4a;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.2vw;
    opacity: 0.5;
    font-size: 1.2vw;
    color: #ffffff;
    position: absolute;
    top: 1.2vw;
    right: 1.6vw;
  }

  .ant-modal-title {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: 500 !important;
    color: #ffffff;
  }

  iframe {
    width: 100%;
    height: 70vh;
  }
}