.break-confirm {
  .ant-modal-content {
    width: 32vw;
    height: 25.6vh;
    background-color: #3e3e4a;
    font-size: 1.3vw;
    color: #fff;
    background: #3e3e4a;
    border-radius: 1vw;
    padding: 1.8vh 1.6vw;
  }

  .ant-modal-header {
    color: #fff;
    background-color: #3e3e4a;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.8vh;
    right: 1.2vw;
    top: 1.8vh;
  }

  .ant-modal-title,
  .ant-modal-close-x {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: Regular;
    color: #ffffff;
  }

  .accelerate-modal {
    font-size: 1.3vw;
    margin-top: 4.5vh;
    margin-left: 2vw;
  }

  .accelerate-modal-footer {
    display: flex;
    margin-top: 4.2vh;
    margin-left: 3.4vw;

    .footer-ok {
      width: 9.6vw;
      height: 4.8vh;
      background: #F86C34;
      border-radius: 2.4vh;
      margin-left: 2vw;
      text-align: center;
      line-height: 4.8vh;
      cursor: pointer;
    }

    .footer-cancel {
      width: 9.6vw;
      height: 4.8vh;
      background: rgba(255,255,255,0.1);
      border-radius: 2.4vh;
      text-align: center;
      line-height: 4.8vh;
      cursor: pointer;
    }
  }
}
