.system-setting {
  .ant-modal-content {
    width: 67.6vw;
    height: 75vh;
    background-color: #3e3e4a;
    padding: 1.2vw 2.4vh;
  }

  .ant-modal-header {
    color: #fff;
    background-color: #3e3e4a;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.2vw;
    opacity: 0.5;
    font-size: 1.2vw;
    color: #ffffff;
    position: absolute;
    top: 1.2vw;
    right: 1.6vw;
  }

  .ant-modal-title {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: 500 !important;
    color: #ffffff;
  }

  .ant-tabs {
    width: 100%;
    height: 65.7vh;
  }

  .ant-tabs-ink-bar {
    width: 2vw !important;
    height: 0.3vh !important;
    background: #f86c34;
    border-radius: 0.2vw !important;
  }

  .ant-tabs-nav::before {
    border: none !important;
  }

  .ant-tabs-nav-wrap {
    height: 6vh;
  }

  .ant-tabs-nav-list {
    margin: 0 auto;
    column-gap: 10vw;
  }

  .ant-tabs-tab {
    font-size: 1.6vw;
  }

  .tab-content {
    margin-top: 1.35vh;
    padding: 0 1.6vw 1.2vh 1.6vw;
    position: relative;

    .setting-item {
      margin-bottom: 4.2vh;

      .item-title {
        font-size: 1.4vw;
        font-weight: Regular;
        text-align: left;
        color: #999999;
        line-height: 3vh;
      }

      .item-content {
        color: #fff;
        margin-top: 1.2vh;
        display: flex;
        align-items: center;
        column-gap: 4vw;

        & span {
          display: flex;
          align-items: center;
          column-gap: 0.8vw;
          font-size: 1.4vw;

          .ant-switch {
            background-color: #999;
            margin-top: 0.4vh;
          }

          .ant-switch-checked {
            background-color: #f86c34 !important;
          }
        }
      }

      .off-item-content {
        font-size: 1.4vw;
        color: #fff;
        margin-top: 1.2vh;

        & :where(.css-dev-only-do-not-override-usln0u) .ant-radio-wrapper {
          font-size: 1.4vw;
          color: #fff !important;
          margin-inline-end: 3.8vw !important;
        }

        .ant-radio-wrapper:hover .ant-radio-inner {
          border-color: #fff;
          // border-color: #f86c34;
        }

        .ant-radio-inner {
          background: transparent;
        }
        
        .ant-radio-checked .ant-radio-inner {
          font-size: 1.4vw;
          background-color: #f86c34;
          border-color: #f86c34;
        }
      }

      .regard-item-content {
        font-size: 1.4vw;
        color: #fff;
        margin-top: 1.2vh;

        & button {
          width: 9.6vw;
          height: 4.8vh;
          font-size: 1.4vw;
          color: #fff;
          background: rgba(255, 255, 255, 0.1);
          border-radius: 2.4vh;
          border: none;
          outline: none;
          margin-left: 2.1vw;
        }
      }
    }
    
    .customer-item-content {
      font-weight: 400;
      font-size: 1.2vw;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: underline;

      span {
        color: #f86c34;
        cursor: pointer;
      }
    }

    .protocols {
      position: absolute;
      top: 52.5vh;
      left: 1.6vw;

      & span {
        height: 2vw;
        font-size: 1.4vw;
        font-weight: Regular;
        text-decoration: underline;
        text-align: left;
        color: #999999;
        line-height: 3vh;
        margin-right: 2vw;
        cursor: pointer;
      }
    }

    .tab-avatar {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      row-gap: 1.2vh;
      margin-bottom: 3.9vh;
      
      .avatar-box {
        margin-left: 1.2vw;

        .avatar-name {
          color: #fff;
          font-size: 2vw;
        }

        .avatar-id {
          font-size: 1.4vw;
          color: #999;
          display: flex;
          align-items: center;
          
          .copy-icon {
            width: 1.2vw;
            height: 1.2vw;
            margin-left: 0.8vw;
            cursor: pointer;
          }
        }
      }
    }

    .info-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .info-box {
      font-size: 1.4vw;
      margin-top: 2.1vh;

      label {
        color: #999;
      }

      div {
        color: #fff;
        margin-top: 1.2vh;
      }

      .real-name-btn {
        width: 9.6vw;
        height: 4.8vh;
        font-size: 1.4vw;
        color: #fff;
        background: #f86c34;
        border-radius: 2.4vh;
        outline: none;
        text-align: center;
        line-height: 4.8vh;
        cursor: pointer;
      }
    }
  }
}

.repair-tool-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;
  padding: 16px;
}

.repair-tool .ant-card-body {
  display: flex;
  align-items: flex-end;
}

.repair-tool .cardName {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.repair-tool .icon-placeholder {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.repair-tool {
  width: 100%;
  border-radius: 8px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5vw;
  transition: background-color 0.3s ease;
}

.repair-tool:hover {
  background-color: rgba(255, 255, 255, 0.20);
}

.repair-tool .icon-placeholder img {
  width: 40px;
  height: 40px;
}

.repair-tool-title {
  font-size: 1.2vw;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 1.05vw;
  position: relative;

  &::after {
    content: '>';
    font-size: 1.6vw; 
    position: absolute;
    line-height: 1.6vw;
    right: -20px;
    top: 0;
  }
}


.repair-tool-description {
  font-size: 1vw;
  color: #cccccc;
}

.repair-tool .ant-card-hoverable:hover {
  border-color: #ffa500;
}

.popup-success-fix,
.popup-failure-fix {
  border-radius: 2vh;
  width: 32vw !important;
  height: 25.5vh !important;
  padding: 0;
  text-align: center;
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.popup-success-fix .ant-modal-close-x,
.popup-failure-fix .ant-modal-close-x {
  font-size: 2.5vw;
  font-family: none;
  color:#fff;
}

.popup-success-fix .ant-modal-confirm-body,
.popup-failure-fix .ant-modal-confirm-body {
  justify-content: space-evenly;
}

.popup-success-fix .ant-btn-primary,
.popup-failure-fix .ant-btn-primary {
  background: #f86c34;
  width: 7.5vw;
  font-size: 1.05vw;
  height: 2.8vw;
  color: #fff;
  border-radius: 16px;
  display: flex;
  align-items: stretch;
  flex-direction: column-reverse;
  justify-content: center;
}
.popup-success-fix .fix-modal-content,
.popup-failure-fix .fix-modal-content {
  color: #fff;
}

.popup-success-fix .ant-modal-confirm-title,
.popup-failure-fix .ant-modal-confirm-title {
  font-size: 1.5vw !important;
  color: #fff !important;
  text-align: left;
}

.popup-success-fix .ant-modal-confirm-content,
.popup-failure-fix .ant-modal-confirm-content {
  font-size: 1.1vw !important;
  color: #999999 !important;
}

.popup-success-fix .anticon-check-circle,
.popup-failure-fix .anticon-check-circle {
  display: none;
}

.popup-success-fix .ant-modal-content,
.popup-failure-fix .ant-modal-content {
  width: 32vw;
  height: 30vh;
  font-size: 1.95vw;
  color: #fff;
  background: #3e3e4a;
  border-radius: 2vh;
  box-shadow: 0px 0px 6vh 0px rgba(0, 0, 0, 0.5);
  padding: 2vh 0.5vw;
  text-align: center;
}

.popup-success-fix .ant-modal-confirm-btns,
.popup-failure-fix .ant-modal-confirm-btns {
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vw;
}

.popup-success-fix .ant-modal-title,
.popup-failure-fix .ant-modal-title {
  color: white;
}

.popup-success-fixcustom-modal .ant-modal-footer .ant-btn-primary,
.popup-failure-fixcustom-modal .ant-modal-footer .ant-btn-primary {
  background-color: white;
  color: black;
}

.popup-success-fix img,
.popup-failure-fix img {
  margin-left: 45vw;
}

.popup-success-fix .fix-modal-content img,
.popup-failure-fix .fix-modal-content img {
  width: 5vw;
  height: 5vw;
  margin-left: 0 !important;
  margin-bottom: 1vw;
}

.popup-success-fix .anticon-exclamation-circle,
.popup-failure-fix .anticon-exclamation-circle {
  display: none;
}

.popup-success-fix .ant-btn-default,
.popup-failure-fix .ant-btn-default {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  width: 7.5vw;
  font-size: 1.05vw;
  height: 2.8vw;
  border: 0;
  display: flex;
  color: #fff;
  margin-right: 2vw;
  align-items: stretch;
  flex-direction: column-reverse;
  justify-content: center;
}

.popup-success-fix .modal-subtitle,
.popup-failure-fix .modal-subtitle {
  font-size: 1.05vw;
  color: #999999;
}


.popup-success-fix .ant-btn-primary:hover,
.popup-success-fix .ant-btn-primary:focus {
  background-color: #f86c34 !important; // 替换为你的按钮颜色
  border-color: #f86c34 !important; // 替换为你的按钮边框颜色
}

.popup-success-fix .ant-btn-default:hover,
.popup-success-fix .ant-btn-default:focus {
  background-color: rgba(255, 255, 255, 0.10) !important; // 替换为你的按钮颜色
  border-color: rgba(255, 255, 255, 0.10) !important; // 替换为你的按钮边框颜色
  color: #fff !important; // 替换为你的按钮文本颜色
}

.popup-failure-fix .ant-btn-primary:hover,
.popup-failure-fix .ant-btn-primary:focus {
  background-color: #f86c34 !important; // 替换为你的按钮颜色
  border-color: #f86c34 !important; // 替换为你的按钮边框颜色
}

.popup-failure-fix .ant-btn-default:hover,
.popup-failure-fix .ant-btn-default:focus {
  background-color: rgba(255, 255, 255, 0.10) !important; // 替换为你的按钮颜色
  border-color: rgba(255, 255, 255, 0.10) !important; // 替换为你的按钮边框颜色
  color: #fff !important; // 替换为你的按钮文本颜色
}
