.bind-phone-module {
  .ant-modal-content {
    width: 67.6vw;
    height: 75vh;
    background-color: #3e3e4a;
    font-size: 1.3vw;
    color: #fff;
    background: #3e3e4a;
    border-radius: 1vw;
    padding: 1.8vh 1.6vw;
  }

  .ant-modal-header {
    color: #fff;
    background-color: #3e3e4a;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.8vh;
    right: 1.2vw;
    top: 1.8vh;
  }

  .ant-modal-title,
  .ant-modal-close-x {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: Regular;
    color: #ffffff;
  }

  .bind-phone-module-content {
    padding: 4.2vh 1.8vw 0 1.8vw;
    font-size: 1.4vw;
    color: #999999;

    .old-phone {
      margin: 4.8vh 0;
    }

    .old-phone-box {
      position: relative;
      margin: 4.8vh 0 2.4vh 0;

      .code-error {
        position: absolute;
        top: 9vh;
        left: 0.4vw;
        font-size: 1vw;
        color: rgba(255,0,0,1);
      }

      & input {
        width: 37.2vw;
        height: 4.8vh;
        font-size: 1.2vw;
        color: #fff;
        background-color: rgba(255,255,255,0.1);
        border: none;
        outline: none;
        border-radius: 0.75vh;
        margin-top: 1.2vh;
      }
    }

    .code-box {
      position: relative;

      .code-input {
        display: flex;
        column-gap: 0.8vw;
        margin-top: 1.2vh;

        .code-error {
          position: absolute;
          top: 9vh;
          left: 0.4vw;
          font-size: 1vw;
          color: rgba(255,0,0,1);
        }

        & input {
          width: 26.8vw;
          height: 4.8vh;
          font-size: 1.2vw;
          color: #fff;
          background-color: rgba(255,255,255,0.1);
          border: none;
          outline: none;
          border-radius: 0.75vh;
        }

        & .code, .count-code {
          width: 9.6vw;
          height: 4.8vh;
          color: #fff;
          background: rgba(255,255,255,0.10);
          border-radius: 0.75vh;
          line-height: 4.8vh;
          text-align: center;
          cursor: pointer;
        }

        & .count-code {
          width: 12vw;
        }
      }
    }

    .last-login-box {
      width: 100%;
      margin-top: 30vh;
      display: flex;
      justify-content: center;

      .last-login-text {
        width: 18.5vw;
        height: 6.6vh;
        font-size: 1.8vw;
        color: #999;
        background: rgba(255,255,255,0.10);
        border-radius: 3.3vh;
        border: none;

        &:enabled:hover, &:enabled:active {
          color: #fff;
          background-color: #F86C34;
        }
      }

      .last-login-text:enabled {
        color: #fff;
        background-color: #F86C34;
      }
    }
  }
}