/* 全局样式重置，防止浏览器默认样式影响 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; /* 背景颜色，和登录框背景对比 */
}

.login-mask {
  width: 100vw;
  height: 100vh;
  display: flex !important; 
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.login-modal {
  position: relative;
  width: 32vw;
  height: 56vh;
  color: #ffffff;
  background: #3e3e4a;
  padding: 2vw;
  margin: 7.5vh auto;
  border-radius: 1.5vh;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.50)
}

.login-close {
  position: absolute;
  top: 2.35vh;
  right: 1.5vw;
  cursor: pointer;
}

.login-logo {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 2vh;

  img {
    width: 4vw;
    height: 6vh;
  }
}

.login-text {
  text-align: center;
  font-size: 1.8vw;
  margin-bottom: 3vh;
}

/* 自定义输入框外层样式 */
.public-input-group {
  background-color: #3a3f51;
  border-radius: 0.75vh;
  position: relative;
}

.input-group,
.computing-input-group {
  margin-bottom: 3vh;
}

.custom-prefix-box {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1vw;
  padding-left: 1.2vw;
}

.custom-prefix-box img {
  width: 1.8vw;
  height: 2.4vh;
  margin-right: 1vw;
}

.custom-prefix-box span {
  font-size: 1.4vw;
}

.old-verification-code {
  font-size: 1.4vw;
  font-weight: Regular;
  text-align: right;
  color: #f86c34;
  line-height: 6.6vh;
  cursor: pointer;
}

.ercode {
  color: #FF0000;
  font-size: 1vw;
  margin-top: 0.75vh;
  margin-left: 0.4vw;
}

.send-verification-code {
  color: #ff4500;
  cursor: not-allowed;
}

.login-btn-box {
  text-align: center;
  margin-top: 6vh;
}

.login-btn-box button {
  width: 25.6vw;
  height: 6.6vh;
  font-size: 1.6vw;
  color: #ffffff;
  background: #f86c34;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 3.3vh;
  border: none;
}

.login-btn-box button:hover {
  background-color: #e03e00;
}

.custom-input::placeholder {
  color: #bbbcc4;
}