.real-name-modal {
  .ant-modal-content {
    height: 500px;
    background-color: #3e3e4a;
    padding: 12px 16px;
  }

  .ant-modal-header {
    color: #fff;
    background-color: #3e3e4a;
  }

  .ant-modal-close {
    width: 12px;
    height: 12px;
    right: 12px;
    top: 12px;
  }

  .ant-modal-title,
  .ant-modal-close-x {
    opacity: 0.5;
    font-size: 12px;
    font-weight: Regular;
    color: #ffffff;
  }

  .real-modal-content {
    margin-top: 9px;
    padding: 16px 18px;
    position: relative;

    .modal-content-text {
      font-size: 14px;
      font-weight: Regular;
      color: #999999;
    }

    .modal-content-input-box {
      margin-top: 33px;
      position: relative;

      & div {
        font-size: 14px;
        font-weight: Regular;
        color: #999999;
        line-height: 20px;
      }

      & input {
        width: 368px;
        height: 32px;
        font-size: 12px;
        color: #fff;
        background: rgba(255,255,255,0.10);
        border: none;
        border-radius: 5px;
        margin-top: 8px;

        &::placeholder {
          font-size: 12px;
          color: #fff;
        }
      }

      .error-tootip {
        font-size: 10px;
        font-weight: Regular;
        color: #ff0000;
        line-height: 18px;
        position: absolute;
        left: 4px;
        top: 62px;
      }
    }

    .modal-content-btn {
      width: 185px;
      height: 44px;
      font-size: 18px;
      color: #fff;
      background: rgba(255,255,255,0.10);
      margin: 150px 0 0 211px;
      border-radius: 22px;
      border: none;
    }
  }

  .real-sueccess-modal-content {
    width: 100%;
    text-align: center;
    padding-top: 135px;

    & p {
      opacity: 0.5;
      font-size: 14px;
      font-weight: Regular;
      text-align: center;
      color: #ffffff;
      line-height: 20px;
      margin-top: 12px;
    }

    .real-sueccess-btn {
      width: 185px;
      height: 44px;
      font-size: 16px;
      font-weight: Regular;
      color: #ffffff;
      background: #f86c34;
      border-radius: 22px;
      border: none;
      margin-top: 37px;
    }
  }

  .real-error-modal-content {
    & p {
      width: 320px;
      text-align: center;
      margin: 0 auto;
    }
  }
}
