/*
 * @Author: steven libo@rongma.com
 * @Date: 2024-05-22 14:58:00
 * @LastEditors: zhangda
 * @LastEditTime: 2024-07-02 14:42:53
 * @FilePath: \speed\src\containers\searchBar\index.scss
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
 */
/* src/components/SearchBar/SearchBar.scss */
.search-bar {
  position: relative;

  .search-box {
    display: flex;
    position: relative;

    .icon-box {
      width: 4vw;
      height: 4.8vh;
      border-top-left-radius: 10vw;
      border-bottom-left-radius: 10vw;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 1.2vw;
        height: 1.2vw;
      }
    }
  }

  input {
    width: 20vw;
    height: 4.8vh;
    font-size: 1.6vw;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10vw;
    text-align: center;
    border: none;
    color: #fff;
    outline: none;
    padding: 0 1vw 0 3.5vw;
    padding-right: 1vw;
  }

  input::placeholder {
    font-size: 1.6vw;
    text-align: center;
    margin-left: 2vw;
  }

  .search-dropdown-box {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    width: 20vw;
    max-height: 45vh;
    background: #3e3e4a;
    border-radius: 1vw;
    box-shadow: 0px 0px 3vw 0px rgba(0, 0, 0, 0.5);
    padding: 0.6vw;
  }

  .search-dropdown {
    width: 100%;
    max-height: 34vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0.6vw;
    }
  }

  .search-item, .check-more {
    width: 17.4vw;
    height: 4.8vh;
    display: flex;
    align-items: center;
    font-size: 1.4vw;
    font-weight: Regular;
    color: #ffffff;
    cursor: pointer;
    padding: 0 1vw;

    div {
      width: 16.2vw;
      white-space: nowrap;    /* 禁止换行 */
      overflow: hidden;       /* 隐藏溢出内容 */
      text-overflow: ellipsis;/* 使用省略号表示溢出 */
    }
    
    img {
      width: 1.2vw;
      height: 1.2vw;
    }
  }

  .line {
    width: 15.4vw;
    height: 0.1vh;
    opacity: 0.1;
    background: #ffffff;
    margin: 1.8vh 1vw;
  }

  .search-item:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5vw;
  }
}
