/*
 * @Author: zhangda
 * @Date: 2024-05-21 21:19:41
 * @LastEditors: zhangda
 * @LastEditTime: 2024-05-30 14:52:53
 * @important: 重要提醒
 * @Description: 备注内容
 * @FilePath: \speed\src\containers\Login\custom-input\index.scss
 */
.custom-input-module {
  width: 100%;
  height: 6.6vh;
  background: #1A1A22;
  border-radius: 0.75vh;
  position: relative;
  display: flex;
  
  .prefix {
    width: auto;
    height: 6.6vh;
    line-height: 6.6vh;
  };
  
  .input-com {
    width: 14vw;
    height: 6.6vh;
    font-size: 1.8vw;
    color: #fff;
    background: #1A1A22;
    float: left;
    padding: 1vh 0 ;
    border: none;
    outline: none;

    &:active {
      border: none;
    }

    &::placeholder {
      line-height: 6.6vh;
      font-size: 1.8vw;
      color: #999
    }
  }

  .suffix {
    height: 6.6vh;
  };
}

::placeholder {
  font-size: 1.4vw;
}