.region-node-selector {
  .ant-modal-content {
    width: 67.6vw;
    height: 75vh;
    background-color: #3e3e4a;
    padding: 1.2vw 2.4vh;
  }

  .ant-modal-header {
    color: #fff;
    background-color: #3e3e4a;
  }

  .ant-modal-close {
    width: 1.2vw;
    height: 1.2vw;
    right: 1.2vw;
    top: 1.8vh;
  }

  .ant-modal-title,
  .ant-modal-close-x {
    opacity: 0.5;
    font-size: 1.2vw;
    font-weight: Regular;
    color: #ffffff;
  }

  .ant-tabs {
    width: 100%;
    height: 65.7vh;
  }

  .ant-tabs-ink-bar {
    width: 2vw !important;
    height: 0.3vh !important;
    background: #f86c34;
    border-radius: 0.2vw !important;
  }

  .ant-tabs-nav::before {
    border: none !important;
  }

  .ant-tabs-nav-wrap {
    height: 6vh;
  }

  .ant-tabs-nav-list {
    margin: 0 auto;
    column-gap: 20vw;
  }

  :where(.css-dev-only-do-not-override-usln0u).ant-tabs
    .ant-tabs-tab.ant-tabs-tab-active
    .ant-tabs-tab-btn {
    color: #fff !important;
  }

  .ant-tabs-tab {
    font-size: 2vw;
    color: #999;
  }

  .content {
    margin-top: 1.35vh;
    padding: 0 1.6vw 1.2vh 1.6vw;
    position: relative;

    .current-box {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .current-game {
        font-size: 1.4vw;
        color: #fff;
      }

      .current-region {
        font-size: 1.4vw;
        font-weight: Regular;
        text-align: left;
        color: #999999;
      }

      .region-select {
        width: 20vw;
        height: 4.8vh;
        margin-left: 0.8vw;
        
        .ant-select-open {
          color: #fff;
        }

        .ant-select-selector {
          font-size: 1.4vw;
          color: #fff;
          background: rgba(255, 255, 255, 0.1);
          border: none;
        }

        .ant-select-focused .ant-select-selector {
          border: none;
        }
      }
    }

    .region-buttons {
      margin-top: 6vh;
      // margin-left: 0.5vw;
      display: flex;
      // column-gap: 1.1vw;
      row-gap: 0.9vh;
      justify-content: flex-start;
      flex-wrap: wrap;
      .region-button {
        width: 11.3vw;
        height: 6vh;
        font-size: 1.4vw;
        color: #fff;
        border: none;
        background: #6b6b7d;
        border-radius: 0.5vw;
        margin-right: 1vw;
      }
    }
    .sub-btns{
      display: flex;
      column-gap: 1.1vw;
      flex-direction: column;
      opacity: 0.29;
      background: #6b6b7d;
      border-radius: 0.5vh;
      margin-top: 1vh;
      .region-button {
        width: 11.3vw;
        height: 6vh;
        font-size: 1.4vw;
        color: #fff;
        border: none;
        background: #6b6b7d;
        border-radius: 0.5vw;
        // margin: 0.5vw;
      }
    }

    .not-have-region {
      position: absolute;
      opacity: 0.5;
      font-size: 1.2vw;
      font-weight: Regular;
      text-align: left;
      color: #ffffff;
      line-height: 2.4vh;
      top: 54.6vh;
      left: 29.6vw;
    }

    .current-settings {
      height: 3vh;
      font-size: 1.4vw;
      font-weight: Regular;
      text-align: left;
      color: #ffffff;
      line-height: 3vh;
    }

    .node-select {
      display: flex;
      justify-content: space-between;
      margin-top: 3.6vh;

      & div span {
        font-size: 1.4vw;
        font-weight: Regular;
        text-align: left;
        color: #999999;
        line-height: 3vh;
        margin-right: 0.8vw;
      }

      .ant-select-selector {
        width: 20vw;
        height: 4.8vh;
        color: #fff;
        background: rgba(255,255,255,0.10);
        border-radius: 0.5vw;
        border: none;
      }

      .ant-select-single {
        height: 4.8vh;
      }
      
      .refresh-button {
        width: 7vw;
        height: 4.8vh;
        color: #fff;
        background: rgba(255,255,255,0.10);
        border-radius: 0.5vw;
        border: none;
        font-size: 1.4vw;
      }
    }

    .ant-table {
      background-color: #3e3e4a;
      margin-top: 3.6vh;

      .ant-table-thead > tr > th {
        font-size: 1.2vw;
        font-weight: Regular;
        color: #999999;
        background-color: #3e3e4a;
        border-bottom: none;
        padding: 0 1.2vw;
      }

      .ant-table-tbody > tr > td {
        font-size: 1.4vw;
        color: #fff;
        padding: 1.42vh 1.2vw;
        background-color: #3e3e4a;
        border-bottom: none;
      }

      .ant-table-cell::before {
        content: normal;
        width: 0 !important;
      }

      .ant-table-tbody > tr.ant-table-row:hover > td,
      .ant-table-tbody > tr.selected-node > td {
        background: rgba(248,108,52,0.20);
        border-top: 1px solid #f86c34;
        border-bottom: 1px solid #f86c34;
        color: #fff;
      }

      .ant-table-tbody > tr.ant-table-row:hover > td:nth-child(1),
      .ant-table-tbody > tr.selected-node > td:nth-child(1) {
        border-left: 1px solid #f86c34;
        border-radius: 5px 0 0 5px;
      }

      .ant-table-tbody > tr.ant-table-row:hover > td:nth-child(4),
      .ant-table-tbody > tr.selected-node > td:nth-child(4) {
        border-right: 1px solid #f86c34;
        border-radius: 0 5px 5px 0;
      }
    }

    .start-button {
      position: absolute;
      width: 18.5vw;
      height: 6.6vh;
      font-size: 1.4vw;
      color: #fff;
      background-color: #F86C34;
      border: none;
      border-radius: 3.3vh;
      top: 48vh;
      left: 21.35vw;
    }
  }
}

.ant-select-dropdown {
  color: #fff !important;
  background: #6b6b7d !important; 
  
  & div {
    font-size: 1.4vw !important;
  }
}

.ant-select-arrow {
  font-size: 1.4vw !important;
}

.ant-select-item-option {
  color: #fff !important;
}

/* 修改选项在鼠标经过时的样式 */
.ant-select-item-option-active {
  background-color: #3E3E4A !important; /* 修改背景颜色 */
  color: #fff !important;            /* 修改文字颜色 */
}

/* 修改选中项的样式 */
.ant-select-item-option-selected {
  background-color: #3E3E4A !important; /* 修改背景颜色 */
  color: #fff !important;            /* 修改文字颜色 */
}


.up-triangle {
  border-bottom: 0.5vw solid #fff;
}

.down-triangle {
  border-top: 0.5vw solid #fff;
}
.up-triangle, .down-triangle {
  display: inline-block;
  margin-left: 8px;
  width: 1vw;
  margin-bottom: 0.1vw;
  // height: 1vh;
  border-left: 0.5vw solid transparent;
  border-right: 0.5vw solid transparent;
}