.app-module {
  width: 100vw;
  height: 100vh;

  .login-mask {
    width: 100vw;
    height: 100vh;
    position: absolute;
  };

  .app-header {
    width: 100vw;
    height: 9vh;
    padding: 0 3.2vw;
    background-color: var(--speed-dominant-background-color);
    display: flex;
    align-items: flex-end;

    .header-icon {
      width: 4vw;
      height: 6vh;
      margin-right: 3.2vw;
    }

    .header-functional-areas {
      width: calc(100vw - 3.2vw);
      height: 6vh;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .menu-list {
        height: 100%;
        display: flex;
        align-items: center;
        column-gap: 2.8vw;

        .menu {
          font-size: 1.8vw;
          color: #999;
          cursor: pointer;
        }

        .menu-active {
          color: #FFF;
          position: relative;

          &::after {
            content: "";
            display: inline-block;
            width: 2vw;
            height: 0.45vh;
            border-radius: 2px;
            background-color: #F86C34;
            position: absolute;
            bottom: -0.2vh;
            left: calc(50% - 1vw);
            z-index: 999
          }
        }
      };

      .personal-information {
        height: 6vh;
        color: #FFF;
        display: flex;
        align-items: center;
        column-gap: 2vw;

        .find-version {
          width: 11.2vw;
          height: 3.6vh;
          font-size: 1.2vw;
          color: #ff4900;
          background: rgba(255,255,255,0.00);
          border: 0.1vw solid rgba(255,255,255,0.10);
          border-radius: 1.8vh;
          display: flex;
          justify-content: center;
          align-items: center;

          & img {
            width: 2vw;
            height: 2vw;
          }
        }

        .currency-exchange {
          width: 8vw;
          height: 3.6vh;
          font-size: 1.2vw;
          color: #f86c34;
          border: 0.5px solid #f86c34;
          border-radius: 1.8vh;
          text-align: center;
          line-height: 3.6vh;
          cursor: pointer;
        }

        .login-enroll-text {
          color: #999;
          font-size: 1.4vw;
          cursor: pointer;

          &:hover {
            color: #fff;
          }
        }

        .ant-avatar, img {
          width: 2vw;
          height: 2vw;
          cursor: pointer;
        }

        .minType, .closeType {
          width: 1.2vw;
          height: 1.2vw;
          filter: brightness(100%);
        }
        
        .minType:hover, .closeType:hover {
          filter: brightness(150%);
        }
      }

      .ant-tabs-tab {
        color: #999;
      }

      .ant-tabs-tab-btn {
        color: #FFF;
      }
    }
  }

  .content {
    height: 91vh;
    background-color: var(--speed-dominant-background-color);
  }
}
