.user-avatar-com-module {
  all: initial;
  width: min-content;
  height: min-content;
  position: relative;

  .ant-avatar {
    width: 2vw !important;
    height: 2vw !important;
  }

  .vip-icon {
    width: 1.2vw !important;
    height: 1.3vw !important;
    position: absolute;
    left: 0.9vw;
    top: -0.1vw;
  }
}

.setting-user-avatar-com-module {
  .ant-avatar {
    width: 5.7vw !important;
    height: 5.7vw !important;
  }

  .vip-icon {
    width: 1.2vw !important;
    height: 1.3vw !important;
    position: absolute;
    left: 2.7vw;
    top: 2.7vw;
  }
}